[2020-12-26 12:21] swapnilsparsh opened #2 "Make the Website Responsive"

[2020-12-26 12:24] swapnilsparsh opened #3 "Improve the Documentation of Women's Rights Section"

[2020-12-26 12:25] swapnilsparsh opened #4 "Improve the Documentation of Women's Safety Laws Section"

[2020-12-26 12:27] swapnilsparsh opened #5 "Improve the Documentation of Women Helpline Numbers Section"

[2020-12-26 12:36] akrish4 commented on #3
i would like to work on this issue ( documentation of women's right and safety )
kindly assign me this
and let me know where should i add the file , the exact path and it should be in a markdown file isnt it ? @swapnilsparsh

[2020-12-26 12:47] akrish4 commented on #5
i would like to work on this issue too @swapnilsparsh
let me know more details about the documentation on markdown ?

[2020-12-26 14:18] swapnilsparsh commented on #3
You can make a separate branch and there you can do your work
Its not specific that you have to make it a markdown file, you can do it in any way you want.

[2020-12-26 14:21] swapnilsparsh commented on #5
You have to make the doucmentation more efficient and to the point.

[2020-12-26 14:24] swapnilsparsh opened #6 "Add a feature that alert message should go on saved phone number"

[2020-12-26 14:26] swapnilsparsh opened #7 "Improve the Footer"

[2020-12-26 14:28] Harsh-bartariya commented on #4
I  would like to work on this issue sir
Please assign it to me sir @swapnilsparsh
recently i attend sessions on women's safety by DSC WOW so it will be good for me to contribute something here.
thank you sir

[2020-12-26 14:28] swapnilsparsh opened #8 "FIx the Emergency option"
When no contacts is saved then on clicking the Emergency option it should redirect you to Emergency Contacts page.

[2020-12-26 14:32] swapnilsparsh commented on #4
That great that you attended DSC WOW sessions and you can work on this issue.

[2020-12-26 14:32] SuNiL-Chau commented on #2
Hi I would like to contribute towards this can I give it a shot?

[2020-12-26 14:33] swapnilsparsh commented on #2
X

Yes

[2020-12-26 14:33] swapnilsparsh commented on #2
Yes

[2020-12-26 14:36] Harsh-bartariya commented on #4
@swapnilsparsh thank you sir.
sir my one last query is how much time i have to contribute in this particular issue i mean there will be some time limit for a assigned person to contribute in that limited period of time.

[2020-12-26 14:40] swapnilsparsh commented on #4
There is no time limit for anyone.

[2020-12-26 15:19] swapnilsparsh opened #9 "Fix the Carousel speed"

[2020-12-26 15:21] SHAIMA-HAQUE commented on #8
Hi!
I would like to give this a shot .Could you please assign it to me?

[2020-12-26 15:22] swapnilsparsh commented on #8
Ok

[2020-12-26 15:27] sourav-coder commented on #9
Assign this to me

[2020-12-26 15:33] patel-atul commented on #7
Can I work on this.

[2020-12-26 15:51] bhavesh1129 commented on #7
May I work on this!

[2020-12-26 15:53] bhavesh1129 commented on #2
I would also like to work on it!

[2020-12-26 15:57] swapnilsparsh commented on #7
Yes, both of you can work on this issue.

[2020-12-26 16:24] jatiinyadav commented on #5
Hii @swapnilsparsh,
I would be glad if you assign me this issue.

[2020-12-26 16:25] jatiinyadav commented on #4
Hii @swapnilsparsh,
I would be glad if you assign me this issue.

[2020-12-26 16:25] jatiinyadav commented on #3
Hii @swapnilsparsh ,
I would be glad if you assign me this issue.

[2020-12-26 16:28] Anu-MADMAX commented on #6
I'm interested in this. Let me know how can I contribute

[2020-12-26 16:31] bhavesh1129 opened #10 "Add Contributing.md file as well as update the readme file"
Hii @swapnilsparsh,
I would like to work on contributing.md as well as updating the present readme file by adding some cool elements which look amazing or gives a  cool/nice look.
Hope you like it!
Thankyou in advance

[2020-12-26 16:40] swapnilsparsh commented on #10
That's great
You can work on this.

[2020-12-26 16:42] bhavesh1129 commented on #10
Thankyou @swapnilsparsh!
Is there any time period for submitting the PR?

[2020-12-26 16:45] swapnilsparsh commented on #10
No time period.
PR will be merged on first come first serve basis.
So anyone can work on this issue but first you have to tell that you are interested in the issue so that I can assign it to you.

[2020-12-26 16:47] bhavesh1129 commented on #10
Ok great!
Yeah, I would love to contribute to this issue.

[2020-12-26 16:47] swapnilsparsh commented on #3
Yes you can work on this issue.

[2020-12-26 16:48] swapnilsparsh commented on #4
Yes you can work on this issue.

[2020-12-26 16:48] swapnilsparsh commented on #5
Yes you can work on this issue.

[2020-12-26 16:49] swapnilsparsh commented on #2
Ok

[2020-12-26 16:50] swapnilsparsh commented on #10
That's great.

[2020-12-26 16:54] swapnilsparsh commented on #6
Have a look at README.md file and then you can start your work.

[2020-12-26 16:56] SHAIMA-HAQUE commented on #8
Sir,Could you please guide me as to how I can reproduce the bug?

[2020-12-26 17:03] Anu-MADMAX commented on #6
are you the mentor for this project?

On Sat, Dec 26, 2020 at 10:24 PM Swapnil Srivastava <
notifications@github.com> wrote:

[2020-12-26 17:21] swapnilsparsh commented on #8
When no contacts is saved then on clicking the Emergency option it should redirect you to Emergency Contacts page.

[2020-12-26 17:22] swapnilsparsh commented on #6
I am admin and mentor both of this project.

[2020-12-26 17:22] swapnilsparsh commented on #6
I am admin and mentor both of this project. @Anu-MADMAX

[2020-12-26 17:39] smriti1313 commented on #5
Hi, I would like to contribute in this too. Kindly let me know if there's a chance of me getting included in this.

[2020-12-26 17:40] smriti1313 commented on #10
Hello, i would be glad if you assign this to me. I am eager to help in such a good project.

[2020-12-26 17:42] smriti1313 commented on #3
Hi, let me know if there is chance for me to contribute in this issue. Thank you

[2020-12-26 17:42] smriti1313 commented on #4
Hi, kindly let me know if I can work on this. I am eager to contribute in this project.

[2020-12-26 17:57] Anu-MADMAX commented on #6
Oh okay. So I'm a beginner, could you assist me on how I should go about
this project?

On Sat, Dec 26, 2020 at 10:52 PM Swapnil Srivastava <
notifications@github.com> wrote:

[2020-12-26 18:43] IshetaBansal commented on #10
Hi!
I would love to work on a project like this. Very keen on working for Women Security with you. Thank you :)

[2020-12-26 18:54] IshetaBansal commented on #4
Hi !
Quite eager to work on this issue. Do let me know if I may. Thank you:)

[2020-12-27 04:39] Himanshi2016 commented on #10
Hello sir !
I also would like to work on this issue

[2020-12-27 04:51] patel-atul commented on #9
hey @swapnilsparsh this site is using w3.css framework shoul i have to work with that or I can write my own css for styling.
also can i create a stylesheet for all the css

[2020-12-27 04:54] patel-atul commented on #7
hey @swapnilsparsh this site is using w3.css framework shoul i have to work with that or I can write my own css for styling.
also can i create a stylesheet for all the css

[2020-12-27 06:01] Pranjal-2001 commented on #4
Hey! I am really interested to work on this issue. I would be glad to work on it!

[2020-12-27 06:15] swapnilsparsh commented on #3
@smriti1313 Ok

[2020-12-27 06:52] musavveer commented on #3
Hey @swapnilsparsh I would like to work on this issue.
Can you give me a chance??

[2020-12-27 07:07] swapnilsparsh commented on #10
@smriti1313  You can start your work.

[2020-12-27 07:09] swapnilsparsh commented on #10
@IshetaBansal and @Himanshi2016 you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

[2020-12-27 07:13] swapnilsparsh commented on #7
@patel-atul You can work according to your comfort.

[2020-12-27 07:15] swapnilsparsh commented on #6
@Anu-MADMAX  Firstly install the project on your local computer and then look after the issue assigned to you and then work on it.

[2020-12-27 07:16] swapnilsparsh commented on #4
Thank you for showing you interest in the project.
@smriti1313 , @IshetaBansal and @Pranjal-2001  you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience

[2020-12-27 07:17] swapnilsparsh commented on #5
Thank you for showing you interest in the project.
@smriti1313 you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience.

[2020-12-27 07:17] swapnilsparsh commented on #3
Thank you for showing you interest in the project.
@musavveer you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience

[2020-12-27 07:23] musavveer commented on #8
Hi! I would like to work on this issue.
Please assign this to me.

[2020-12-27 07:24] musavveer commented on #3
Okay

[2020-12-27 07:27] swapnilsparsh commented on #8
Ok @musavveer

[2020-12-27 07:31] akrish4 commented on #3
@swapnilsparsh  kindly check discord

[2020-12-27 07:38] musavveer commented on #8
Thank You @swapnilsparsh
See my DM on discord

[2020-12-27 08:01] akrish4 commented on #3
#11

[2020-12-27 08:20] swapnilsparsh opened #12 "Fix the typo error at Login Page."
![Screenshot_102](https://user-images.githubusercontent.com/69387608/103166659-5b365800-484a-11eb-839b-9861214a7865.png)

[2020-12-27 09:02] musavveer commented on #12
Hi!
I would like to work on it.

[2020-12-27 09:13] musavveer commented on #12
#13 Fixed a typo error

[2020-12-27 09:24] kanishkaa24 commented on #10
Hello
I would love to work on this issue.

[2020-12-27 09:24] kanishkaa24 commented on #5
Hello
I would love to work on this issue.

[2020-12-27 09:24] kanishkaa24 commented on #4
Hello
I would love to work on this issue.

[2020-12-27 09:24] kanishkaa24 commented on #3
Hello
I would love to work on this issue.

[2020-12-27 09:25] kanishkaa24 commented on #7
Hello
I would love to work on this issue.

[2020-12-27 09:31] patel-atul commented on #7
hey @swapnilsparsh I have created this footer can you look at it.
![footer rescue](https://user-images.githubusercontent.com/73336171/103167683-427e7000-4853-11eb-8014-049bea3c70a2.png)
I have also made it fully responsive without using any media queries.
![footer rescue 1](https://user-images.githubusercontent.com/73336171/103167688-5d50e480-4853-11eb-8479-1a46458244df.png)
![footer rescue 2](htt

[2020-12-27 09:32] patel-atul commented on #7
Can Anyone help me with this

[2020-12-27 10:17] chehak123 commented on #3
hii
i would like to work on this issue

[2020-12-27 10:17] chehak123 commented on #4
hii
i would like to work on this issue

[2020-12-27 10:18] chehak123 commented on #5
hii
i would like to work on this issue

[2020-12-27 10:41] swapnilsparsh commented on #7
@patel-atul Footer is looking great.
You have to link the file in urls.py and views.py.

[2020-12-27 10:43] swapnilsparsh commented on #10
Thank you for showing you interest in the project.
@kanishkaa24  you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience.

[2020-12-27 10:44] swapnilsparsh commented on #5
Thank you for showing you interest in the project.
@kanishkaa24 and @chehak123 you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience.

[2020-12-27 10:44] swapnilsparsh commented on #4
Thank you for showing you interest in the project.
@kanishkaa24 and @chehak123 you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience.

[2020-12-27 10:45] swapnilsparsh commented on #3
Thank you for showing you interest in the project.
@kanishkaa24 and @chehak123 you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience.

[2020-12-27 10:50] swapnilsparsh commented on #3
Issue resolved by @akrish4

[2020-12-27 10:50] #3 closed

[2020-12-27 13:02] patel-atul commented on #7
how exactly I can do that I am new at python and django.

[2020-12-27 13:24] SubhradeepSS opened #14 ".gitignore file"
We can add a .gitignore file for the project so that changes in unnecessary files are not tracked in git like pycache, the database file-db.sqlite3 etc.
(work for DWOC)

[2020-12-27 13:28] Bijay555 commented on #14
@SubhradeepSS  I want to do this. Please can you assign me?

[2020-12-27 13:36] SubhradeepSS commented on #14
I am not the admin of this project. Actually I opened this issue for myself to work for DWOC.

[2020-12-27 13:49] Bijay555 commented on #14
@SubhradeepSS other cannot make issue, bro

[2020-12-27 14:02] SubhradeepSS commented on #14
Oh didn't knew that

[2020-12-27 14:40] akrish4 commented on #5
@swapnilsparsh kindly check discord

[2020-12-27 14:47] SubhradeepSS commented on #8
@swapnilsparsh Can u also assign me this issue to?

[2020-12-27 14:59] swapnilsparsh commented on #8
Thank you for showing you interest in the project.
@SubhradeepSS  you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience.

[2020-12-27 15:12] swapnilsparsh commented on #14
Hey @SubhradeepSS

Its great that you noticed the issue and raised it but you should have asked me to raise the issue and then you can ask me to assign the issue to you. But no problem as there are only 2 people who are interested in this issue so both of you can look after this issue.
Good Luck 👍🏼

[2020-12-27 15:13] akrish4 commented on #5
#16

[2020-12-27 15:15] swapnilsparsh commented on #12
Issue Resolved by @musavveer

[2020-12-27 15:15] #12 closed

[2020-12-27 15:20] swapnilsparsh commented on #5
Issue resolved  by @akrish4

[2020-12-27 15:20] #5 closed

[2020-12-27 16:11] smriti1313 commented on #10
Can you tell me in detail about contributing.md? What shall be included in it? Also I have done readme part. So can i pull request of that part?

[2020-12-27 16:20] smriti1313 opened #17 "Documentation of Women Helpline Numbers Section"
Hello,still the information and contact details regarding few other states is missing.

[2020-12-27 16:33] abhinav-huria commented on #2
I would also like to work on this.

[2020-12-27 16:39] swapnilsparsh commented on #10
Keep all the necessary things that are there in contributing.md file and that's great that you have finished the Readme part.
But this issue is for both contributing.md file and Readme file, so when you are done with both the issues resolved then request a PR.

[2020-12-27 16:55] smriti1313 commented on #10
@swapnilsparsh What sort of necessary things? It would be great if you could give an example or two. Thank you

[2020-12-27 16:56] #17 closed

[2020-12-27 16:57] smriti1313 commented on #5
@swapnilsparsh many states are still missing from the list.

[2020-12-27 16:58] swapnilsparsh commented on #2
Thank you for showing you interest in the project.
@abhinav-huria  you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience.

[2020-12-27 17:01] pankaj892 opened #19 "Add Contributing file"
@swapnilsparsh Can we add a CONTRIBUTING.md file for contributors which would make it clear on how to contribute to the project

[2020-12-27 17:09] abhinav-huria commented on #9
I want to work on this

[2020-12-27 17:16] swapnilsparsh commented on #10
1. Contribution (heading and some general info)
2. Pull Request Process
3. Code of Conduct
and etc.

[2020-12-27 17:16] akrish4 commented on #5
@smriti1313
***only major states need to be added*** , said by the project maintainer/ owner

[2020-12-27 17:17] swapnilsparsh commented on #19
This issue is already open.
Kindly refer to #10

[2020-12-27 17:17] #19 closed

[2020-12-27 17:17] swapnilsparsh commented on #9
OK

[2020-12-27 17:19] swapnilsparsh commented on #5
Let @smriti1313 work on other states as she also wants to contribute in the project.
Major edits has already been done by you @akrish4

[2020-12-27 17:21] akrish4 commented on #5
@swapnilsparsh sure

[2020-12-27 17:23] swapnilsparsh commented on #5
@smriti1313 I will be openign a spearate issue for this, there you can ask for the assignee role and then you can start your work.

[2020-12-27 17:24] swapnilsparsh commented on #5
@smriti1313 I will be openign a spearate issue for this, there you can ask for the assignee role and then you can start your work.

[2020-12-27 17:25] swapnilsparsh commented on #5
@smriti1313 I will be opening a spearate issue for this, there you can ask for the assignee role and then you can start your work.

[2020-12-27 17:29] smriti1313 commented on #5
@

okay thank you. I have actually done with this part. I am waiting when i can request a PR.

[2020-12-27 17:46] swapnilsparsh opened #20 "Documentation of Women Helpline Numbers Section (Add the left out States)"

[2020-12-27 17:47] swapnilsparsh commented on #5
Refer to #20

[2020-12-27 17:50] smriti1313 commented on #20
Hi, I would like to do this.

[2020-12-27 17:52] bhavesh1129 commented on #20
Hii, I would like to take this up!

[2020-12-27 17:57] pankaj892 commented on #10
Looks interesting I can work on this issue assign me @swapnilsparsh

[2020-12-27 18:02] swapnilsparsh commented on #20
OK

[2020-12-27 18:05] swapnilsparsh commented on #20
@smriti1313
Patch 1 PR has been merged.
There are more patches or should I close this issue ?

[2020-12-27 18:06] swapnilsparsh commented on #10
It's already assigned to you.

[2020-12-27 18:06] swapnilsparsh commented on #10
Thank you for showing you interest in the project.
@pankaj892  you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience.

[2020-12-27 18:12] smriti1313 commented on #20
@swapnilsparsh There are not more patches and also searched I on net to find more helpline numbers but they were not from the official site so did not include them. You can close the issue. Thank you for helping me out.

[2020-12-27 18:17] swapnilsparsh commented on #20
Issue has been resolved by @smriti1313

[2020-12-27 18:17] #20 closed

[2020-12-27 21:14] bhavesh1129 commented on #10
- **This is how now Readme.md file looks:**
![Readme](https://user-images.githubusercontent.com/54619203/103179846-09c3b280-48b6-11eb-8897-25cc64c8cb60.png)

- **This is how now Conributing.md file looks:**
![Contributing](https://user-images.githubusercontent.com/54619203/103179890-6b841c80-48b6-11eb-9ea2-e8bf9d16cbc7.png)

[2020-12-28 07:39] SubhradeepSS commented on #14
Oh, will keep that on mind from next time

[2020-12-28 07:52] SubhradeepSS commented on #6
@swapnilsparsh I also want to work on this issue. Can u assign it to me too?

[2020-12-28 10:47] swapnilsparsh commented on #10
@bhavesh1129
Both the files are looking awesome.
Send a PR so I can merge it.

[2020-12-28 10:56] swapnilsparsh commented on #10
Issue has been resolved by @smriti1313

[2020-12-28 10:56] #10 closed

[2020-12-28 10:57] swapnilsparsh commented on #6
Ok

[2020-12-28 11:00] swapnilsparsh commented on #14
Resolve the conflicts and resend the PR

[2020-12-28 11:01] swapnilsparsh commented on #8
Issue has been resolved by @musavveer

[2020-12-28 11:01] #8 closed

[2020-12-28 11:03] swapnilsparsh commented on #9
Issue has been resolved by @abhinav-huria

[2020-12-28 11:03] #9 closed

[2020-12-28 15:34] #14 closed

[2020-12-28 18:19] akrish4 opened #28 "Typo Error / Bug in Contributing file"
@swapnilsparsh  there is a typo error / bug in the contributing file , the  link to code of conduct file is redirected to some other's repository which  actually is a forked  repository of this project.
kindly assign me this issue
the below shown is the image of contributing file

![rescue_typo1](https://user-images.githubusercontent.com/61831021/103235052-22d86c00-4967-11eb-89d5-6a30567cbfb4.PNG)

[2020-12-28 18:31] akrish4 commented on #28
#29

[2020-12-29 06:23] swapnilsparsh commented on #28
Issue resolved by @akrish4

[2020-12-29 06:23] #28 closed

[2020-12-29 11:47] himanshu007-creator commented on #2
sir, i would like to work on this project

[2020-12-29 12:47] tharunc opened #31 "Update readme.md"

[2020-12-29 17:04] swapnilsparsh commented on #2
Thank you for showing you interest in the project.
@himanshu007-creator  you have to wait for 2-3 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience.

[2020-12-29 17:07] swapnilsparsh commented on #31
@tharunc Why you openend this issue ?
Kindly attach a photo of issue in README.md file that you noticed else I have to close this issue.

[2020-12-29 17:20] swapnilsparsh commented on #7
@patel-atul Footer which you have made is awesome.
You have to make just few changes,
1. Use the same font which is used in the website
2. Footer which you have made is only showing on home page, it should show on every page.

[2020-12-29 17:21] swapnilsparsh opened #32 "Change the UI of carousel and make it responsive which is on the home page."

[2020-12-29 17:47] muthuannamalai12 opened #33 "Create Code of Conduct. md"
Hi,
I found that this project repository is not having a code of conduct file in this repository, kindly assign me this issue and I would like to contribute a well-formatted code of conduct file as you know code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2020-12-29 17:48] muthuannamalai12 commented on #33
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2020-12-29 19:15] patel-atul commented on #32
Hey @swapnilsparsh can i work on it please assign this to me.

[2020-12-29 19:25] swapnilsparsh commented on #32
Ok @patel-atul

[2020-12-29 19:25] swapnilsparsh commented on #33
Ok @muthuannamalai12

[2020-12-30 02:46] patel-atul commented on #32
Can i improve other things too or only make carousal responsive

[2020-12-30 10:06] muthuannamalai12 commented on #33
I have created a pull request. Kindly review it.

[2020-12-30 16:44] swapnilsparsh commented on #32
@patel-atul Make the carousel responsive only.

[2020-12-30 16:45] swapnilsparsh commented on #33
Issue resolved by @muthuannamalai12

[2020-12-30 16:45] #33 closed

[2020-12-30 16:48] #31 closed

[2020-12-30 16:49] swapnilsparsh commented on #32
Make the carousel responsive and change the UI also.
I am changing the name and level of this issue.

[2020-12-30 16:52] swapnilsparsh opened #36 "Make the Navbar Responsive"

[2020-12-31 03:24] sakshikhachane commented on #36
@swapnilsparsh I would like to work on this issue. Can you please assign me this issue?

[2020-12-31 04:11] swapnilsparsh commented on #36
Ok @sakshikhachane

[2020-12-31 04:56] sakshikhachane commented on #36
@swapnilsparsh I have some suggestions.
Can we make the whole contents of the navbar except home shift to right? Also if we give the same color to it then it will look better. Should I try designing using my idea or should I modify your design only?

[2020-12-31 04:59] swapnilsparsh commented on #36
@sakshikhachane You can design according to your comfort.

[2020-12-31 06:09] sakshikhachane commented on #36
@swapnilsparsh Okay. Can you assign me this issue? So that I can proceed to do work.

[2020-12-31 10:40] Swapnil-Gaur commented on #36
Hey @swapnilsparsh can I also work on this issue?

[2020-12-31 11:53] sourav-coder commented on #32
@swapnilsparsh  Please assign this to me and check my PR.

[2020-12-31 14:40] swapnilsparsh commented on #36
Ok

[2020-12-31 16:14] djm-1 opened #38 "Improving Carousal"
I want to improve the design of carousal in homepage. Please assign me the task and label it for Dwoc

[2020-12-31 16:16] djm-1 opened #39 "Improving update contact option"
The update contact field doesn't show the data in the corresponding fields. It pops up like a add contact form. I want to show the data on existing fields as well. User may want to update a specific field.

[2020-12-31 16:28] djm-1 commented on #38
what is the difference between emergency and emergency contacts?

[2021-01-01 09:23] Sloth-Panda commented on #36
Hey, can I please take the same issue?

[2021-01-01 09:25] Sloth-Panda commented on #32
Hey, can you please give me this issue to work on?

[2021-01-01 09:27] Sloth-Panda commented on #2
Hello, can I work on this issue?

[2021-01-01 15:05] swapnilsparsh commented on #39
Ok

[2021-01-01 15:43] djm-1 commented on #39
I have modified that. Please check my PR.
One more thing,
/emergency_contact/ is showing all the saved contacts, but /emergency/ is not showing any at first. I think it's another bug. Can you please assign that task also? Should I create an issue?

[2021-01-01 16:23] swapnilsparsh commented on #38
This issue is already opened #32

[2021-01-01 16:23] #38 closed

[2021-01-01 16:24] swapnilsparsh commented on #36
Thank you for showing you interest in the project.
@Sloth-Panda  you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience

[2021-01-01 16:25] swapnilsparsh commented on #32
Ok

[2021-01-01 16:26] swapnilsparsh commented on #32
Thank you for showing you interest in the project.
@Sloth-Panda  you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience

[2021-01-01 16:26] swapnilsparsh commented on #2
Thank you for showing you interest in the project.
@Sloth-Panda  you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience

[2021-01-01 16:27] swapnilsparsh commented on #39
Yes create another issue

[2021-01-01 16:32] djm-1 opened #41 "/emergency/ is not showing all contacts"
/emergency_contact/ is showing all the saved contacts, but /emergency/ is not showing any at first. I think it's another bug. Can you please assign that task to me? Label it for DWoC.

[2021-01-01 18:41] djm-1 commented on #41
I have fixed this problem also. Please check my PR.

[2021-01-02 06:58] Swapnil-Gaur commented on #36
@swapnilsparsh where should I show navbar that I prepared?

[2021-01-02 07:02] swapnilsparsh commented on #36
Share the Screenshot here

[2021-01-02 07:03] Swapnil-Gaur commented on #36
It's  has animation effect

[2021-01-02 07:38] muthuannamalai12 opened #43 "Add Contributors.md file"
Hai,
I would like to add Contributors.md file in your project in the form of a table and display a link to it in README.md

[2021-01-02 07:38] muthuannamalai12 commented on #43
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-02 10:42] Swapnil-Gaur commented on #36
(https://drive.google.com/file/d/1GEL_38Wm2BUa2CAXCDRW85B1NFfS7H5p/view?usp=drivesdk)
Please see its screenshot here.

[2021-01-02 17:55] swapnilsparsh commented on #36
Attach the photo here only as I am unable to see on your drive as it is asking for permission.

[2021-01-02 17:56] swapnilsparsh commented on #43
Ok

[2021-01-02 18:08] swapnilsparsh commented on #41
Issue has been resolved by @djm-1

[2021-01-02 18:08] #41 closed

[2021-01-02 18:20] swapnilsparsh opened #44 "On clicking emergency contact error is showing"
![Annotation 2021-01-02 235003](https://user-images.githubusercontent.com/69387608/103463820-4a5b7a00-4d55-11eb-8b2a-caeb28591111.png)

[2021-01-03 04:37] muthuannamalai12 commented on #43
I have created a pull request. Kindly review it

[2021-01-03 05:14] Swapnil-Gaur commented on #36
I am unable attach  photo here. Please once that Link now you can able to see

[2021-01-03 09:39] djm-1 commented on #44
It's not a bug. I think you didn't run migrations.
python manage.py makemigrations
python manage.py migrate
should solve this.

[2021-01-03 10:05] swapnilsparsh commented on #43
Mention me , Utkarsh mall, Utkarsh sharma the project admin and remove the img bot from contributors

[2021-01-03 10:09] swapnilsparsh commented on #36
I had seen your navbar its quite good but I want you to make the navbar as shown in the photo
![image](https://user-images.githubusercontent.com/69387608/103476219-cbf4eb80-4dd9-11eb-9ce6-0c0f8b725d58.png)

[2021-01-03 10:09] swapnilsparsh commented on #36
I had seen your navbar its quite good but I want you to make the navbar as shown in the photo
![image](https://user-images.githubusercontent.com/69387608/103476232-e5963300-4dd9-11eb-957e-cd5b4c43e436.png)

[2021-01-03 10:12] swapnilsparsh commented on #44
Thank You.
It worked.

[2021-01-03 10:12] #44 closed

[2021-01-03 10:50] muthuannamalai12 commented on #43
Ok.I will do it

[2021-01-03 10:58] Swapnil-Gaur commented on #36
Sure

[2021-01-03 16:56] swapnilsparsh commented on #32
Issue resolved by @sourav-coder

[2021-01-03 16:56] #32 closed

[2021-01-03 17:27] muthuannamalai12 commented on #43
I have changed it. Kindly review it

[2021-01-04 05:32] Swapnil-Gaur commented on #36
https://drive.google.com/file/d/1GXX5oV35TqOA7vRzbpLxBD0RtEoaqpRy/view?usp=drivesdk
@swapnilsparsh  i have done with this please check out once

[2021-01-04 05:33] Swapnil-Gaur commented on #36
![20210104_110011](https://user-images.githubusercontent.com/71397235/103504100-6dcd1480-4e7c-11eb-8ac0-2494f0b5ff61.jpg)

[2021-01-04 05:38] swapnilsparsh commented on #36
@Swapnil-Gaur Make a PR so that I can review your code.

[2021-01-04 05:39] swapnilsparsh commented on #43
Issue resolved by @muthuannamalai12

[2021-01-04 05:39] #43 closed

[2021-01-04 05:59] swapnilsparsh opened #47 "On home page when clicking on more than dropdown menu is not opening"

[2021-01-04 06:00] #2 closed

[2021-01-04 06:02] swapnilsparsh commented on #4
One assignee role is left for this issue of you want to work on this issue then comment down below on the basis of first come first serve.

[2021-01-04 06:05] swapnilsparsh commented on #39
Issu resolved by @djm-1

[2021-01-04 06:05] #39 closed

[2021-01-04 06:07] jatiinyadav commented on #4
Heyy @swapnilsparsh ,
I would be glad if you assign me this issue.

[2021-01-04 06:18] swapnilsparsh opened #48 "Show the contributors name on README.md file"
Show the CONTRIBUTORS.md table on README.md or make a new table.
For [reference](https://github.com/swapnilsparsh/Unified-Codes/blob/master/README.md) you can have a look.

[2021-01-04 06:26] jatiinyadav commented on #48
Heyy @swapnilsparsh ,
I would be glad if you assign me this issue

[2021-01-04 06:58] Amit366 commented on #47
Can I try to solve this issue??

[2021-01-04 07:21] Amit366 commented on #47
On clicking the home icon what icons should drop down?

[2021-01-04 07:44] swapnilsparsh commented on #47
It is not working on homepage only other than its working fine.
You can have a look at other page then open the dropdown , you will get the idea.

[2021-01-04 08:03] Amit366 commented on #47
Fill the details in
main_app/mail.py

this is showing error as 'main_app' is not recognized as an internal or external command,
operable program or batch file.

[2021-01-04 15:22] swapnilsparsh commented on #47
Fix this issue and make a PR

[2021-01-04 15:59] Amit366 commented on #47
Sir could you please help me in fixing this issue

[2021-01-04 17:18] sakshikhachane commented on #36
@swapnilsparsh Is this better? Should I make a PR? Sorry for the delay.

![127 0 0 1_8000_home_# - Google Chrome 04-01-2021 22_46_42](https://user-images.githubusercontent.com/53635792/103561085-e9f84400-4ede-11eb-8ba0-47ade2ad4bfa.png)
![127 0 0 1_8000_home_# - Google Chrome 04-01-2021 22_46_37](https://user-images.githubusercontent.com/53635792/103561094-eebcf800-4ede-11eb-9182-ed830de6da3b.png)

[2021-01-05 04:02] swapnilsparsh commented on #36
Yes it's looking great. 🤩

[2021-01-05 04:02] swapnilsparsh commented on #36
@sakshikhachane Navbar is looking great 🤩

[2021-01-05 04:03] swapnilsparsh commented on #47
Yes

[2021-01-05 04:50] Swapnil-Gaur commented on #36
@swapnilsparsh please review my PR.

[2021-01-05 07:17] sakshikhachane commented on #36
@swapnilsparsh I have made a PR. Have a look at it :)

[2021-01-05 07:34] swapnilsparsh commented on #36
You didn't made any PR.

[2021-01-05 07:45] #36 closed

[2021-01-05 07:46] swapnilsparsh commented on #36
Issue resolved by @sakshikhachane

[2021-01-05 08:13] Amit366 commented on #47
Sir on typing "main_app/mail.py" I am getting an error:
"this is showing error as 'main_app' is not recognized as an internal or external command,
operable program or batch file."

Could u please help me in fixing this.

[2021-01-05 17:29] swapnilsparsh commented on #47
This issue has been resolved.

[2021-01-05 17:29] #47 closed

[2021-01-05 19:30] Akshu-on-github commented on #48
May I work on this issue?

[2021-01-05 19:31] Akshu-on-github commented on #4
May I work on this?

[2021-01-06 03:03] Sloth-Panda commented on #4
Hey, may I work on this?? plz let me know.

[2021-01-06 03:05] Sloth-Panda commented on #6
Would like to work on this

[2021-01-06 09:24] jatinjain001 commented on #48
May I work on this issue ??

[2021-01-06 09:36] jatinjain001 commented on #4
I want to work on this issue Please assign it to me.

[2021-01-06 09:40] jatinjain001 commented on #7
I would like to work on this . Please let me know.

[2021-01-06 15:02] ShubhamPatel33 commented on #6
HI, I am experienced with HTML and pushing the alert box and can complete the issue in 3 Days, I would be happy to resolve this issue .
Email : shubhamashishpatel@gmail.com Discord : Asce #8878

[2021-01-06 17:03] swapnilsparsh commented on #48
Thank you for showing you interest in the project.
@jatinjain001  you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience.

[2021-01-06 17:04] swapnilsparsh commented on #4
Ok

[2021-01-06 17:04] swapnilsparsh commented on #4
Thank you for showing you interest in the project.
@Sloth-Panda and @jatinjain001  you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience.

[2021-01-06 17:04] swapnilsparsh commented on #7
Ok

[2021-01-06 17:05] swapnilsparsh commented on #6
Ok

[2021-01-06 17:06] swapnilsparsh commented on #6
@Sloth-Panda and @ShubhamPatel33 do the work.

[2021-01-06 17:11] swapnilsparsh opened #51 "Make the following pages responsive."
Make these page responsive -
1. helpline_numbers.html
2. women_laws.html
3. women_rights.html

[2021-01-06 18:07] muthuannamalai12 opened #52 "Integrate welcome bot"
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time.
For reference, check out: https://github.com/apps/welcome

If you feel this is a great idea!
Please assign it to me.

[2021-01-06 18:08] muthuannamalai12 commented on #52
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-06 18:18] jatinjain001 commented on #7
Thank you 😊
On Wed, 6 Jan 2021, 10:35 pm Swapnil Srivastava, <notifications@github.com>
wrote:

[2021-01-06 19:42] Akshu-on-github commented on #48
Please take a look at PR #53

[2021-01-07 01:35] sakshikhachane commented on #51
@swapnilsparsh I would like to work on this issue. If it is first come first serve then can we split the work?

[2021-01-07 05:19] swapnilsparsh commented on #52
Great idea.
You can start you work.

[2021-01-07 05:26] swapnilsparsh commented on #48
Move the table under the Contributors heading and don't add too much emoji.

[2021-01-07 05:26] swapnilsparsh commented on #51
@kritikashah20 and @sakshikhachane Ok

[2021-01-07 05:27] swapnilsparsh commented on #51
You have to make all three pages responsive in order to resolve this issue as this is a level 5 issue.

[2021-01-07 08:42] JandedAstro commented on #51
I would like to work on this issue too.

[2021-01-07 10:11] swapnilsparsh commented on #51
Thank you for showing you interest in the project.
@JandedAstro  you have to wait for 3-5 days as 2 people are already assigned on this issue.
Kindly give some time to the assignees to resolve the issue then you can work on this issue till then look after some other issues.

We appreciate your patience

[2021-01-07 10:15] Akshu-on-github commented on #48
What would you like me to remove?

[2021-01-07 10:25] Akshu-on-github commented on #4
Just to clarify, I need to work on women_laws.html right? I plan to do the following:

- Make the description of the laws more concise
- Fact check the dates and acts
- Reorder the list (reverse chronological order) for greater relevance
- Add onto the list, if I find an important law missing

Please tell me if there is anything else I should do, or if there's anything that I should avoid doing.

[2021-01-07 10:45] swapnilsparsh commented on #48
Limit the usage of emoji under my name that you have used 4 emoji.
Reduce it to 2

[2021-01-07 10:52] musavveer commented on #52
@swapnilsparsh I would like to work on it.

[2021-01-07 10:54] musavveer opened #54 "Issue and PR templates."
Issue and PR templates are missing.
I can do it. Please assign this to me. @swapnilsparsh

[2021-01-07 11:05] swapnilsparsh commented on #4
Do this first then I will tell you if any changes have to be made.

[2021-01-07 11:05] swapnilsparsh commented on #52
Ok

[2021-01-07 11:07] swapnilsparsh commented on #54
Can you share some photos so I can get an idea what you are talking about.

[2021-01-07 11:12] Akshu-on-github commented on #48
The mentor role was a combination of two emojis in the emoji key, I have removed the same. Take a look now?

[2021-01-07 11:15] swapnilsparsh commented on #48
Issue has been resolved by @Akshu-on-github

[2021-01-07 11:15] #48 closed

[2021-01-07 11:19] muthuannamalai12 commented on #52
I have created a Pull Request. Kindly review it @swapnilsparsh

[2021-01-07 11:26] swapnilsparsh commented on #52
Issue resolved by @muthuannamalai12

[2021-01-07 15:52] jatinjain001 commented on #7
Check my PR I did , and let me know if it is need to do more changes . thank you @swapnilsparsh

[2021-01-08 13:41] musavveer commented on #54
When someone opens an Issue or PR it asks for a checklist and some instructions.

[2021-01-08 14:28] swapnilsparsh commented on #54
Can you share some example ?

[2021-01-08 15:03] sakshikhachane commented on #51
@swapnilsparsh Will, you please add some tasks for this?

[2021-01-08 15:09] swapnilsparsh commented on #51
Thank you @sakshikhachane for pointing out that two pages are already responsive.
I am closing this issue and I will open another issue in which you can do the work accordingly.

[2021-01-08 15:09] #51 closed

[2021-01-09 05:28] Sloth-Panda opened #57 "After logging in the dashboard's header does not have proper orientation"
![Screenshot (37)](https://user-images.githubusercontent.com/70213384/104084031-8d43b300-5269-11eb-82c5-c97111c7a059.png)

[2021-01-09 05:30] Sloth-Panda commented on #57
Let me know if any work needs to be done on this. The logged-in name is pushed up  and the alignment of things are not perfect and also some part of the header is coming down a bit as you can see

[2021-01-09 14:55] swapnilsparsh commented on #57
@Sloth-Panda I will assign the issue to you so that you can start your work.

[2021-01-09 20:47] Sloth-Panda opened #59 "This website is not perfectly responsive a lot of bugs are there"
Hey, if you want to make it responsive let me know

[2021-01-10 16:31] swapnilsparsh commented on #59
Can you attach a photo of the bugs that you have noticed.

[2021-01-14 03:10] LazyCoder-1506 commented on #59
i want to try this issue

[2021-01-14 05:12] Sloth-Panda commented on #59
hey I am on it will be making  pr in few days

[2021-01-14 07:21] Sloth-Panda commented on #57
@swapnilsparsh check it out

[2021-01-14 07:25] Sloth-Panda commented on #59
![Screenshot (48)](https://user-images.githubusercontent.com/70213384/104557636-9a94df00-5667-11eb-9623-cbf6a78a88d1.png)

This is one

and also the font-sizes are not chaning its too big when someone views the site on phone
and also the image quality is dropping a lot the main "rescue" poster so that too can be corrected

[2021-01-14 07:27] Sloth-Panda opened #61 "The toggle button is not working fine"
toggle button is not toggling properly when I click on it its just goes up and the  again comes down

[2021-01-14 11:00] swapnilsparsh commented on #7
Issue resolved by @jatinjain001

[2021-01-14 11:00] #7 closed

[2021-01-14 11:02] swapnilsparsh commented on #59
@Sloth-Panda Ok work on this issue.

[2021-01-14 11:04] swapnilsparsh commented on #59
@Sloth-Panda You have opened the issue stating that there are lot of bugs and the website is also not responsive so I have added the Level 4 label so do the work accordingly.

[2021-01-14 11:04] swapnilsparsh commented on #61
Share the photo

[2021-01-16 09:14] LazyCoder-1506 commented on #61
@Sloth-Panda  please elaboarte the issue using photo, if i can i want to contribute

[2021-01-17 12:22] Sloth-Panda opened #62 "Issue with the landing page and other pages before logging in as user"
when someone directly hops into the margin page and after that opens-up other pages then some text are covered/not visible of the other pages
![Screenshot (53)](https://user-images.githubusercontent.com/70213384/104842317-a5ac7100-58ec-11eb-913c-29bd504fb8b1.png)

Now you can see those top sections like "welcome" part is clearly visible and also corrected all other landing pages before the signup

[2021-01-17 12:48] Sloth-Panda commented on #62
@swapnilsparsh  checkout the pr and let me know

[2021-01-17 13:17] swapnilsparsh commented on #62
@Sloth-Panda You dont have to open this issue as you have to do this task in issue #59

[2021-01-17 13:17] #62 closed

[2021-01-17 21:45] Sloth-Panda commented on #54
@swapnilsparsh

issue template->
![Screenshot (50)](https://user-images.githubusercontent.com/70213384/104856827-a0761300-593a-11eb-8845-c7d6db067d77.png)
Issue template looks something like this it says what sort of issue someone is creating when he/she is creating an issue.

pr template->
![Screenshot (54)](https://user-images.githubusercontent.com/70213384/104856960-4c1f6300-593b-11eb-98df-f00c

[2021-01-17 21:46] Sloth-Panda commented on #54
Can i work  on this @swapnilsparsh

[2021-01-18 17:14] swapnilsparsh commented on #54
@Sloth-Panda Ok

[2021-01-18 17:15] #52 closed

[2021-01-18 17:41] #61 closed

[2021-01-18 17:48] #59 closed

[2021-01-18 18:02] swapnilsparsh opened #64 "Make the GIF which is on the homepage responsive"

[2021-01-18 18:03] swapnilsparsh opened #65 "GIF which is on the homepage, make it responsive"

[2021-01-18 18:03] sakshikhachane commented on #65
@swapnilsparsh I would like to work on this issue. Please assign me this issue.

[2021-01-18 18:13] Sloth-Panda commented on #4
@swapnilsparsh  I can take this too

[2021-01-18 20:35] Sloth-Panda commented on #6
I can do this @swapnilsparsh

[2021-01-19 10:05] swapnilsparsh commented on #54
Issue resollved by @Sloth-Panda

[2021-01-19 10:05] #54 closed

[2021-01-19 10:26] swapnilsparsh commented on #57
Issue resolved by @Sloth-Panda

[2021-01-19 10:26] #57 closed

[2021-01-19 11:07] swapnilsparsh opened #69 "Fix the Navbar"
![127 0 0 1_8000_home__-_Google_Chrome_19-01-2021_16_32_17](https://user-images.githubusercontent.com/69387608/105026281-6315a080-5a74-11eb-851b-2df544211356.png)

While checking is it responsive or not there is a bug which you have to fix.

[2021-01-19 11:07] sakshikhachane commented on #69
@swapnilsparsh I would like to work on this issue.

[2021-01-19 11:08] nehaparmar99 commented on #69
Can I work on it?

[2021-01-19 11:15] swapnilsparsh commented on #69
@sakshikhachane and @nehaparmar99 Ok

[2021-01-19 13:02] nehaparmar99 commented on #69
Hey!I'm done with the changes.Should I change the navbar on all the pages then?

[2021-01-19 15:02] nehaparmar99 opened #73 "The pages start before the navbar, and hence the top content is cropped out."
**Describe the bug**
----
The content at the top is right now being overlapped with the navbar.

**Expected behavior**
-----
- The pages should begin from a little below from what they're now.

**Possible solution**
----
Setting the margin-top for the pages.
**Screenshots**
----
![Screenshot (267)](https://user-images.githubusercontent.com/48972593/105051768-18585080-5a95-11eb-9831-0a3bb20e8636.pn

[2021-01-19 15:02] nehaparmar99 commented on #73
I'd like to make the changes

[2021-01-20 13:49] #65 closed

[2021-01-20 13:52] swapnilsparsh commented on #73
@nehaparmar99 You have to fix all the pages where navbar is overlapping.

[2021-01-20 14:11] #69 closed

[2021-01-20 14:13] nehaparmar99 commented on #73
Sure👍🏻

[2021-01-21 01:58] sakshikhachane opened #75 "Improving UI of login and sign up pages (Register and Login page)"
**Is your feature request related to a problem? Please describe.**
----
- The Ui is not pleasing and can be made better.

**Describe the solution you'd like**
----
- Make a better design of UI.

[2021-01-21 14:25] swapnilsparsh commented on #75
@sakshikhachane Ok

[2021-01-21 14:32] swapnilsparsh commented on #75
@sakshikhachane Specify the pages on which you will work.

[2021-01-21 14:38] #73 closed

[2021-01-21 14:47] swapnilsparsh opened #76 "FIx the footer"
<div align = "center">
<h2>On some pages footer is not working properly</h2>

![Annotation 2021-01-21 200958](https://user-images.githubusercontent.com/69387608/105365964-d231f700-5c24-11eb-9829-655e510518e9.png)
![Annotation 2021-01-21 201017](https://user-images.githubusercontent.com/69387608/105365972-d3632400-5c24-11eb-8516-f18f75f380fe.png)

<h2>On some pages its working fine so <br>you have

[2021-01-21 14:58] nehaparmar99 commented on #76
Can I work on it?

[2021-01-21 16:07] sakshikhachane commented on #75
I will be working on the register and login page.

[2021-01-22 11:36] jatiinyadav commented on #76
Hey @swapnilsparsh,
I would like to work on this issue

[2021-01-23 09:58] 07yuvraj commented on #75
I want to work on this.May I?

[2021-01-23 17:48] Sloth-Panda commented on #6
I will be sending the pr for this by tomorrow or in 2 days

[2021-01-25 11:38] #75 closed

[2021-01-25 11:43] sakshikhachane opened #80 "Improving UI of helpline numbers page"
**Is your feature request related to a problem? Please describe.**
----
The feature is related to the enhancement of the helpline numbers page user interface.

[2021-01-25 11:45] sakshikhachane commented on #80
@swapnilsparsh I would like to work on this issue.

[2021-01-25 13:50] sakshikhachane opened #81 "Improving UI of women laws, women rights and helpline number pages"
**Is your feature request related to a problem? Please describe.**
----
Modifying the user interface of the three pages - women's laws, women's rights, and helpline number.

[2021-01-26 17:21] #76 closed

[2021-01-26 21:02] 07yuvraj commented on #75
Is it closed or can i work on any other page??

[2021-01-27 01:55] sakshikhachane commented on #75
@07yuvraj I have made PR for this and it is merged and I am working on other pages as well :)

[2021-01-27 17:31] swapnilsparsh commented on #75
This issue is closed but you can work on other issues which are open.

[2021-01-27 17:47] swapnilsparsh opened #83 "FIx the Register page footer"
![Annotation 2021-01-27 231047](https://user-images.githubusercontent.com/69387608/106031840-c0a19100-60f5-11eb-8847-4eddd4576ecd.png)

[2021-01-27 17:50] jatiinyadav commented on #83
Hey @swapnilsparsh,
I would like to work on this issue.

[2021-01-27 17:50] sakshikhachane commented on #83
@swapnilsparsh I would like to work on this issue. I will resolve this issue tomorrow itself.

[2021-01-30 16:25] m-code12 opened #85 "Add a bot to moderate the issue request and the feature request"
**Is your feature request related to a problem? Please describe.**
This bot would help a first time contributor so that that contributor can follow this project's contribution guidelines.We can link our issue template, pull request template and code of conduct here.It will contain newIssue Welcome comment, newPR Welcome comment, firstPR welcome comment,etc.

We can use a GitHub App built with prob

[2021-01-30 16:26] m-code12 commented on #85
@swapnilsparsh You can have a look at [this link](https://github.com/mexili/incogly/issues/39) too. I would like to implement this as a part of DWOC.

[2021-01-30 17:55] swapnilsparsh commented on #85
@m-code12 Work on it.

[2021-01-30 17:57] m-code12 commented on #85
Okay 👍 @swapnilsparsh

[2021-01-30 18:45] Sloth-Panda commented on #85
The bot is already there @swapnilsparsh  as the config file is there you just need to download the bot from the link in the  config.yml file and add it to your repo for it to work if you have not done yet

[2021-01-31 09:34] m-code12 commented on #85
@swapnilsparsh Do we have a slack or discord community for this project? If yes, we can mention that in the bot as well.

[2021-01-31 17:27] swapnilsparsh commented on #85
No, but there is a channel under the DevScript Winter of Code Server.
https://discord.gg/FYz6cXQA

[2021-01-31 17:30] m-code12 commented on #85
Should I go ahead and add this along with few modifications in the welcome bot?

[2021-01-31 17:36] swapnilsparsh commented on #85
Yes

[2021-02-01 17:30] jatinjain001 commented on #83
I would like to work on it

[2021-02-01 17:31] jatinjain001 commented on #81
I would like to work on it please assign it to me ,If it is available

[2021-02-01 17:33] sakshikhachane commented on #81
Hi @jatinjain001 , I am already working on this issue and have completed two pages.

[2021-02-01 17:49] jatinjain001 commented on #81
I already told if it is available 😊😊

[2021-02-02 07:46] #83 closed

[2021-02-02 17:23] jatinjain001 commented on #81
I am  working on it

[2021-02-03 16:49] swapnilsparsh opened #87 "Fix the register page text while checking responsive"

[2021-02-03 16:50] jatiinyadav commented on #87
Hii, @swapnilsparsh,
I would like to work on this issue

[2021-02-04 12:04] jatinjain001 commented on #81
Changed the UI of helpline numbers, I am bit confused regarding laws and right page . In my view there should be no changes in these 2 pages cause they are showing same things so UI should be same, If anything should change then please let me know

![Screenshot (214)](https://user-images.githubusercontent.com/46483236/106890211-015d6380-670f-11eb-9a1e-aeebf14ee545.png)

[2021-02-04 12:50] jatinjain001 commented on #81
![Screenshot (215)](https://user-images.githubusercontent.com/46483236/106894948-a418e080-6715-11eb-8eb5-9ee2836bb655.png)
this one changes in women laws page

[2021-02-04 17:11] swapnilsparsh commented on #81
It's looking messy , try something else.

[2021-02-05 15:28] jatinjain001 commented on #81
what about this one

[2021-02-05 17:06] #85 closed

[2021-02-05 17:27] swapnilsparsh commented on #81
It's not looking neat, use some UI/UX

[2021-02-05 17:45] #87 closed

[2021-02-06 15:01] jatinjain001 commented on #81
![Screenshot (221)](https://user-images.githubusercontent.com/46483236/107121768-33f78f80-68ba-11eb-8a05-56bf835368a7.png)
I tried different things I am getting more confused in two pages laws and rights, I think helpline number should be look like this

[2021-02-06 17:55] swapnilsparsh opened #91 "Developer Page - Improve the UI and Make it Responsive too"

[2021-02-06 18:05] jatiinyadav commented on #91
Hey @swapnilsparsh,
I would like to work on this issue.

[2021-02-06 18:46] sakshikhachane commented on #91
@swapnilsparsh I would also like to work on this issue.

[2021-02-07 17:56] #81 closed

[2021-02-07 18:03] swapnilsparsh opened #93 "Footer Bug"
When clicking on footer helpline number then developer page is opening which should be fix.

[2021-02-07 18:03] #91 closed

[2021-02-07 18:04] jatiinyadav commented on #93
Hey @swapnilsparsh,
I would like to work on this issue.

[2021-02-07 18:17] #93 closed

[2021-02-08 04:56] nehaparmar99 commented on #6
I'd like to give it a try.

[2021-02-08 10:41] jatinjain001 commented on #81
I am working on this, and I did 2 page updated. kindly open this issue again I will give my PR till tomorrow 00:00am ,

[2021-02-08 17:45] swapnilsparsh opened #95 "Fix the login page text while checking responsive"

[2021-02-08 17:50] jatiinyadav commented on #95
Hey @swapnilsparsh,
I would like to work on this issue.

[2021-02-08 18:36] sakshikhachane commented on #95
@swapnilsparsh I would like to work on this issue. Please assign me this issue.

[2021-02-09 07:37] sakshikhachane opened #98 "404 error - Page not found"
**Is your feature request related to a problem? Please describe.**
----
Adding 404 error page - page not found for the links that are not existing.

[2021-02-09 08:33] sakshikhachane commented on #98
@swapnilsparsh Please assign me this issue.

[2021-02-09 10:56] m-code12 opened #99 "Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on every pr created.

Demo :
<img src="https:/

[2021-02-09 10:56] m-code12 commented on #99
@swapnilsparsh Can I work on this?

[2021-02-09 17:17] #95 closed

[2021-02-09 17:18] swapnilsparsh commented on #98
Can you tell which links are not working ?

[2021-02-09 17:19] swapnilsparsh commented on #99
Great idea.

[2021-02-09 17:26] sakshikhachane commented on #98
@swapnilsparsh Every website is having a `404 error` page for the links randomly inserted by the users. Rather than displaying all the paths. I think there should be some page that will tell the user that the URL link or path that they have entered is wrong.
Below is the image for the same and should be modified.

<img width="702" alt="404" src="https://user-images.githubusercontent.com/53635792/1

[2021-02-10 03:24] sakshikhachane commented on #98
@swapnilsparsh Should I move ahead with this issue or should I close this issue?

[2021-02-11 17:31] swapnilsparsh opened #100 "Fix the gif at home page"
Gif which is available on home page is streching while checking responsive.

[2021-02-11 18:32] sakshikhachane commented on #100
@swapnilsparsh I would like to work on this issue.

[2021-02-12 10:25] swapnilsparsh commented on #100
Ok

[2021-02-16 07:04] #100 closed

[2021-02-16 07:05] #99 closed

[2021-02-16 07:08] swapnilsparsh opened #103 "Fix the GIF going under the Navbar in small screen"
![Annotation 2021-02-16 123400](https://user-images.githubusercontent.com/69387608/108029519-96d3ee00-7053-11eb-867f-32cc861db92a.png)

[2021-02-16 07:27] sakshikhachane commented on #103
@swapnilsparsh I would like to work on this issue.

[2021-02-16 18:52] Sloth-Panda opened #104 "addition of website preloader"
**Is your feature request related to a problem? Please describe.**
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Yes
**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.
I want to add a website preloader that will give a nice animation for the time the website loads
**Describe alternatives you'

[2021-02-16 18:53] Sloth-Panda commented on #104
@swapnilsparsh  would like to work on it . please assign me

[2021-02-18 13:56] swapnilsparsh commented on #4
#

[2021-02-18 13:56] #4 closed

[2021-02-18 16:47] muthuannamalai12 opened #109 "Bug"
When Running the GitHub action to auto-assign Mentors for every PR it displays a [warning]Resource not accessible by integration` when running against PRs and it does not auto-assign reviewers. Similar to the issue link given below:point_down:
https://github.com/kentaro-m/auto-assign-action/issues/29

[2021-02-18 16:48] muthuannamalai12 commented on #109
@swapnilsparsh I would to work and correct it. Kindly assign me this issue as a part of DWOC.

[2021-02-19 19:03] #109 closed

[2021-02-21 05:54] swapnilsparsh opened #111 "Emergency Contact Page"
1. Align everything in center
2. Make it responsive too

[2021-02-21 05:56] jatiinyadav commented on #111
Hey @swapnilsparsh,
I would like to work on this issue.

[2021-02-21 06:36] #111 closed

[2021-02-21 07:03] swapnilsparsh opened #113 "Delete Page"
1. Align everything in center
2. Make it responsive too

[2021-02-21 07:11] jatiinyadav commented on #113
Hey @swapnilsparsh ,
I would like to work on this issue.

[2021-02-21 07:32] #113 closed

[2021-02-21 07:33] swapnilsparsh opened #115 "Add favicon"

[2021-02-21 07:39] jatiinyadav commented on #115
Hey @swapnilsparsh ,
I would like to work on this issue.

[2021-02-21 07:48] #115 closed

[2021-02-21 16:26] #98 closed

[2021-03-01 07:49] saaiswetha commented on #103
I would like to contribute to this issue, am a part of GSSoC'21

[2021-03-05 12:32] Ankita297 commented on #104
Can i work on this ?

[2021-03-06 06:59] nikitajuneja1 commented on #6
I would like to contribute to this issue. Please assign it to me!

[2021-03-07 18:13] swapnilsparsh opened #117 "Improve the women's laws html documentation"

[2021-03-08 03:49] AishwaryaKaranth commented on #117
Can I work on this as part of GSSOC'21 ?

[2021-03-08 07:46] medhavi11 commented on #103
I would like to work on this issue, I am GSSOC 2021 participant.

[2021-03-08 07:46] medhavi11 commented on #117
I would like to work on this issue, I am GSSOC 2021 participant.

[2021-03-08 07:48] medhavi11 commented on #6
I would like to work on this issue, I am GSSOC 2021 participant.

[2021-03-08 11:01] swapnilsparsh commented on #117
@AishwaryaKaranth and @medhavi11
You can start your work and soon I will be adding the level tag.

[2021-03-08 11:01] swapnilsparsh commented on #104
@Ankita297
You can start your work and soon I will be adding the level tag.

[2021-03-08 11:02] swapnilsparsh commented on #103
@saaiswetha and @medhavi11
You can start your work and soon I will be adding the level tag.

[2021-03-08 11:02] swapnilsparsh commented on #6
@nikitajuneja1 and @medhavi11
You can start your work and soon I will be adding the level tag.

[2021-03-08 11:28] swapnilsparsh opened #118 "Fix register.html page"
![Register Page](https://user-images.githubusercontent.com/69387608/110314996-9a450e80-802e-11eb-82de-0e684d9cf62d.png)

1. Change the text colour to some dark colour so that it can be visible easily.
2. Add a icon which can show and hide password in the password and confirm password both field.
3. Change the photo and use some photo relate to register page.

[2021-03-08 12:14] deek121477 commented on #118
Hey, I would love to contribute to this issue. Could you plz assign me?

[2021-03-08 12:19] nilisha-jais commented on #118
I want to work on it as  a part of GSSOC

[2021-03-08 12:53] medhavi11 commented on #6
On it!

[2021-03-08 15:13] RituCs commented on #118
Hello I want to work on this issue.Is it still open?

[2021-03-08 15:20] saaiswetha commented on #103
there are no white spaces below the carousel while viewing in desktop.
<img width="942" alt="space" src="https://user-images.githubusercontent.com/55787747/110340919-cde46080-804f-11eb-87f7-6a6148a5646b.PNG">

[2021-03-08 15:21] DhanyaHegde01 commented on #117
I would also like to work on this as part of Gssoc'21

[2021-03-08 16:11] anish-cpu commented on #117
Hi Swapnil,
I would like to work on this issue as a GSSOC '21 participant. Please mark me as assignee.
Regards,
Anish

[2021-03-08 16:24] nandini7637 commented on #118
Hello sir I would like to contribute to this issue can you please assign me this?
I am  a GSSOC participant.

[2021-03-08 18:39] prisha-srivastava opened #119 "Improving the navbar"
I would like to improve the appearance of the navbar by making it more attractive and relocating the links in a better way. Contributing as a participant of GSSOC'21. Could you please assign it to me?

[2021-03-08 18:58] micksharma commented on #104
Can I work on this issue ?

[2021-03-09 01:48] Shivam-Shandilya1 commented on #118
Hey!!! Can I give assisstance to your nice project as a GSSOC participant

[2021-03-09 04:48] Amrutha-Obili commented on #118
Hey.. I would like to work on this issue as a GSSOC participant. Can you please assign it to me?

[2021-03-09 05:10] saumyaparikh commented on #119
I would like to work on the navbar as a participant of GSSOC'21.

[2021-03-09 05:11] saumyaparikh commented on #118
I would like to work on it as a GSSOC participant.

[2021-03-09 05:17] Alleny244 commented on #119
Hello
I am a GSSOC'21 participant
I would like to contribute in this issue.
 Could you please assign it to me?

[2021-03-09 05:31] parth-27 commented on #118
Hey!!! I would like to work on this issue. Can you please assign it to me ??

[2021-03-09 06:40] somya51p commented on #118
Hello, @swapnilsparsh! I would like to contribute to this issue. Can you please assign it to me?

[2021-03-09 07:33] arbazalam01 commented on #118
can i work on this issue as a GSSOC participant

[2021-03-09 08:25] nikitajuneja1 commented on #6
Sure!

[2021-03-09 08:32] subhangi2731 commented on #118
Please assign me this issue

[2021-03-09 09:34] 2001asjad commented on #119
Hello
I am a GSSOC'21 participant . I would also like to work on this issue and on this project as well.
Thanks.

[2021-03-09 09:40] Sakshi0401 commented on #118
Hello @swapnilsparsh I would like to work on it as a GSSOC participant. Can you please assign it to me ?

[2021-03-09 11:33] Abhishek765 commented on #118
Hello @swapnilsparsh I would like to contribute to this task as a GSSOC participant, Could you assign it to me?

[2021-03-09 11:41] Siddharth1006 commented on #118
Hey @swapnilsparsh!
I have a solution to your problem. If you can please assign the above issue to me!

[2021-03-09 12:31] aanchalrakheja commented on #118
Hey! would love to contribute to this task as a participant of GSSOC'21. Please allow me to do so by assigning it to me.

[2021-03-09 13:17] Aarti002 commented on #118
hey @swapnilsparsh can i work on this issue under gssoc'21 participant i can work comfortably in html,css and django

[2021-03-09 13:18] Aarti002 commented on #117
hey @swapnilsparsh can i work on this issue if it is not done yet as gssoc'21 participant

[2021-03-09 14:26] ketakitankk opened #120 "Fix the womens_law.html file"
![2021-03-09 (7)](https://user-images.githubusercontent.com/65545601/110485010-36dfdd00-8111-11eb-9763-90248434e0aa.png)

I would like to make the page more captivating and fix the various html css errors, being extremely proficient with frontend development. Please let me contribute to your wonderful initiative as a GSSOC '21 Participant.

Thank You!

[2021-03-09 14:36] kalpanapurohit commented on #119
I would like to work on this issue as a GSSOC'21 participant.

[2021-03-09 14:42] feni-katharotiya commented on #120
@ketakitankk  Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:44] feni-katharotiya commented on #119
@prisha-srivastava . Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:45] feni-katharotiya commented on #118
@swapnilsparsh  Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:48] feni-katharotiya commented on #103
@swapnilsparsh Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:49] feni-katharotiya commented on #6
@swapnilsparsh  Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:51] feni-katharotiya commented on #120
@swapnilsparsh Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:51] feni-katharotiya commented on #119
@swapnilsparsh Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:52] feni-katharotiya commented on #117
@swapnilsparsh Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 19:45] swapnilsparsh commented on #103
@feni-katharotiya Already 2 people are working on it, so you have to wait for 3 days then if they are unable to resolve the issue or if they want more time then they can ask for it if they didn't ask it then it will be assigned to you.

[2021-03-09 19:45] swapnilsparsh commented on #103
Check in mobile view

[2021-03-09 19:47] swapnilsparsh commented on #104
@feni-katharotiya and @micksharma  Already @Ankita297  is working on it, so you have to wait for 3 days then if she is unable to resolve the issue or if she want more time then she can ask for it if she didn't ask it then it will be assigned to the person that ask first after that to the next person so that everyone will get the chance.

[2021-03-09 19:49] swapnilsparsh commented on #117
@DhanyaHegde01 @anish-cpu @Aarti002 @feni-katharotiya  Already 2 people are working on it, so you have to wait for 3 days then if they are unable to resolve the issue or if they want more time then they can ask for it if they didn't ask it then it will be  assigned to the person that ask first after that to the next person so that everyone will get the chance.

[2021-03-09 19:53] swapnilsparsh commented on #118
We will be following the First Come First Serve basis and the person who is assigned to resolve the issue will get 3 days to resolve the issue and if the person want more time he/she have to ask for it ,if he/she is unable to do it then it will be assigned to the next person who wants to work on this issue.

[2021-03-09 19:54] swapnilsparsh commented on #119
We will be following the First Come First Serve basis and the person who is assigned to resolve the issue will get 3 days to resolve the issue and if the person want more time he/she have to ask for it ,if he/she is unable to do it then it will be assigned to the next person who wants to work on this issue.

[2021-03-10 03:47] Shivam-Shandilya1 commented on #119
Can I also work on this issue as Gssoc Participant?

[2021-03-10 04:03] feni-katharotiya commented on #117
@swapnilsparsh okay

[2021-03-10 06:04] kanishka8276 opened #122 "Update readme.md"
Read me file does not contain steps to clone this repository and to create a pull request.
Please assign this to me.
#GsSOC'21

[2021-03-10 06:33] #122 closed

[2021-03-10 06:52] kanishka8276 opened #123 "A button to take you to the top of the page on every page. #GsSOC'21"
A top button on the bottom right corner to navigate to the top of the page for the women_rights.html and women_laws.html.
Please assign this to me. @swapnilsparsh
#GsSOC'21

[2021-03-10 07:01] kanishka8276 opened #124 "Suggestion for helpline_numbers.html"
Linking the heading "women helpline numbers" to the pdf which contains all the women helpline numbers and is downloaded as soon as the link "women helpline numbers" is clicked for the future reference of the user.
Please assign this to me. @swapnilsparsh
#GsSOC'21

[2021-03-10 07:12] kanishka8276 opened #125 "Click to call option on the right of every helpline number in helpline_numbers.html"
We can create a click to call option for every helpline number by placing a call icon next to every number to make it easy for the user to call a helpline number.
Please assign this to me. @swapnilsparsh
#GsSOC'21

[2021-03-10 08:02] prisha-srivastava commented on #119
@swapnilsparsh I have made the changes and created the pull request. Kindly review it.

[2021-03-10 08:16] niya210 commented on #125
Pls assing it to me, I'm GSSOC'21 participant and haven't been assigned with any task yet.

[2021-03-10 09:01] 2001asjad commented on #123
@kanishka8276  I would like to work on this issue. I am GSSOC'21 participant and want to get started.. Thank You

[2021-03-10 09:03] kanishka8276 commented on #123
I am not the owner of this project. I am also a GsSOC'21 participant.

[2021-03-10 09:16] 2001asjad opened #127 "Improve the Documentation"
In the attached screenshot , the footer doesn't have the correct punctuation and we can also improve the grammer. It is always an important aspect of any website. I would love to work on this issue .

Moreover we can work on the CSS as well to enhance the text.

PS: I want to get started with this great project for GSSOC 21 and help it to grow a lot.

![Capture](https://user-images.githubuserconte

[2021-03-10 10:21] shrishti-c commented on #123
A swift button to for smooth transition from bottom to up. I can do it. Please assign this to me.

[2021-03-10 10:34] AishwaryaKaranth commented on #117
Submitted a PR #129

[2021-03-10 12:47] sakshi21-03 commented on #118
@swapnilsparsh , I am a GSSOC 2021 Participant, and i would like to work on this issue.

[2021-03-10 12:49] sakshi21-03 commented on #6
@swapnilsparsh , i would like to work for this issue.

[2021-03-10 14:16] coding-geek21 opened #131 "Improve the footer part by adding contact details at the footer part with social media handles icons"
**Describe the bug**
----
- A clear and concise description of what the bug is.

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to '...'
  2. Click on '....'
  3. Scroll down to '....'
  4. See error

**Expected behavior**
-----
- A clear and concise description of what you expected to happen.

**Possible solution**
----
- Describe the solution you thought of.

**Screenshots**
--

[2021-03-10 15:09] Ankita297 commented on #104
Sir i have made a PR .Please review it .

[2021-03-10 16:27] coding-geek21 commented on #131
Hello @swapnilsparsh  @U-c0de  @Assertor1   I just saw the footer without any contact details , i added some icons like linkedin, mail , facebook, twitter and also made improvements on footer and added copyrights at the end
Can you please assign this to me so that i can create a pull request on this
I'm a GSSoC'21 participant .

[2021-03-11 04:52] Tushar1337 commented on #127
can you assign this to me so that I can make a pull request?

[2021-03-11 06:35] saaiswetha commented on #103
@swapnilsparsh Have submitted a PR, do review it and let me know in case of any changes.

[2021-03-11 06:36] saaiswetha commented on #103
@swapnilsparsh I have submitted a PR, do review it and let me know in case of any changes.

[2021-03-11 07:58] vanshikapandey commented on #131
I am interested in working in this issue. I can make a interactive footer. Please assign this issue to me as a GSSOC'21 participant

[2021-03-11 08:47] vineetsingh0809 opened #133 "Modification in website UI [ GSSoC' 21 ]"
Hey there,
I want to improve the UI of the website for a better look and output and I am so excited to contribute to this project.
Kindly assign me this issue, by this, I will be able to continue my work.

[2021-03-11 09:53] coding-geek21 commented on #131
I have already worked on this issue and i'm just waiting for the issue to get assigned for me and i'm also GSSOC'21 participant

[2021-03-11 11:08] flyingsonu122 commented on #133
Can you tell me where is it hosted @swapnilsparsh

[2021-03-11 11:54] mansijain980 commented on #117
Is the issue solved if not i would like to do work on it .
Please assign it to me.

[2021-03-11 11:59] mansijain980 commented on #124
@swapnilsparsh .......I can work on it easily as i know full stack development . Please assign it to me .

[2021-03-11 13:22] sakshikhachane commented on #123
Sure, please go ahead with this issue @kanishka8276.
Happy Learning :)

[2021-03-11 13:26] kanishka8276 commented on #123
Ok!
@sakshikhachane Please add GsSOC'21 label. Thank you ☺️

[2021-03-11 13:29] sakshikhachane commented on #127
Hey @2001asjad,
You can create 1 separate issue for improving the design of the footer.
For this issue, add more content in the footer and improve the grammatical mistakes.

I am assigning this issue to you. Happy learning:)

[2021-03-11 13:32] sakshikhachane commented on #133
Hey @vineetsingh0809,
Which pages are you thinking of enhancing the UI? Can you elaborate more about it?

[2021-03-11 14:02] swapnilsparsh commented on #120
We will be following the First Come First Serve basis and the person who is assigned to resolve the issue will get 3 days to resolve the issue and if the person want more time he/she have to ask for it ,if he/she is unable to do it then it will be assigned to the next person who wants to work on this issue.

[2021-03-11 14:15] swapnilsparsh commented on #6
We will be following the First Come First Serve basis and the person who is assigned to resolve the issue will get 3 days to resolve the issue and if the person want more time he/she have to ask for it ,if he/she is unable to do it then it will be assigned to the next person who wants to work on this issue.

[2021-03-11 14:22] swapnilsparsh commented on #125
@niya210  We will be following the First Come First Serve basis and the person who is assigned to resolve the issue will get 3 days to resolve the issue and if the person want more time he/she have to ask for it ,if he/she is unable to do it then it will be assigned to the next person who wants to work on this issue.

[2021-03-11 14:26] somya12-coder commented on #6
@swapnilsparsh I will like to work on this issue

[2021-03-11 14:35] somya12-coder commented on #118
Hello sir I would like to contribute to this issue can you please assign me this?
I am a GSSOC participant

[2021-03-11 14:35] swapnilsparsh commented on #117
Thank you everyone for showing you interest in our project but we will be following the First Come First Serve basis and the person who is assigned to resolve the issue will get 3 days to resolve the issue and if the person want more time he/she have to ask for it ,if he/she is unable to do it then it will be assigned to the next person who wants to work on this issue.

[2021-03-11 14:53] swapnilsparsh commented on #131
Actually there is no social media handles of our project and for our personal social media handles that are given in devlopers page only.
If I am missing someting , please tell me or attach a photo of it so I can relate it else I have to close this issue.

[2021-03-11 14:55] swapnilsparsh commented on #124
I don't think attaching a pdf is a nice option or you can add all the numbers on the website only.
If you are comfortable adding all the the women helpline numbers on website only then kindly let me know so I can assign you this issue.

[2021-03-11 15:25] mansijain980 commented on #118
@swapnilsparsh sir , i started work for this issue. Till tomorrow night , i will merge a pull request in it .
Please assign it to me.

[2021-03-11 16:17] swapnilsparsh commented on #133
Website is not live so you have to run it on  you local server.

[2021-03-11 16:23] vineetsingh0809 commented on #133
Hey @sakshikhachane ...
I have been already forked and cloned this project on my local system and I am looking for the opportunity to work on this project.
If you will assign me this issue, I'll try to make this website more attractive and better.

[2021-03-11 16:25] swapnilsparsh commented on #118
You have been assigned.

[2021-03-11 16:26] flyingsonu122 commented on #133
alright 👍  @swapnilsparsh

[2021-03-11 16:27] lokeshmarriala commented on #120
@swapnilsparsh Hi I'm GSSoc'21 participant and would like to work on this issue . Please assign this task to me.

[2021-03-11 16:38] flyingsonu122 opened #137 "less instructions and wrong links in Contributing.md"
hey @swapnilsparsh , there are less instructions in and wrong links [Contributing.md](https://github.com/flyingsonu122/Rescue/blob/master/Contributing.md)
want to improve it

[2021-03-11 16:49] swapnilsparsh commented on #133
Which pages are you thinking of enhancing the UI? Can you elaborate more about it?

[2021-03-11 16:51] swapnilsparsh commented on #137
Can you tell where less instructions are given ?

[2021-03-11 16:56] coding-geek21 commented on #131
Hello @swapnilsparsh  Actually there was no contact us page for the website , Contact us page helps people having queries to ask or contact the team so i guess contact us page will help people to contact the admin of the website if they have any issues or if they want to know something. and there was no copyrights for the website i just improved the footer by adding it

[2021-03-11 17:00] flyingsonu122 commented on #137
you have not written about creating a new branch

[2021-03-11 17:01] flyingsonu122 commented on #137
6th step is missing

[2021-03-11 17:02] flyingsonu122 commented on #137
@swapnilsparsh can I make some best possible changes

[2021-03-11 17:03] niya210 commented on #125
Ohk, I got it. But could it possible if anyone who wanna solve but haven't
assigned with that issue, come up with a solution and request to merge
their pr?
Would their request be merged?

On Thu, Mar 11, 2021, 7:52 PM Swapnil Srivastava ***@***.***>
wrote:

[2021-03-11 17:10] coding-geek21 opened #139 "I would suggest to add logo for the website on the header part and also add Brand name **Rescue** on the header part"
**Is your feature request related to a problem? Please describe.**
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
----
- A clear and concise description of any alternative solutions or features you

[2021-03-11 17:10] flyingsonu122 opened #140 "create Discussions here on GitHub"
create [Discussions](https://github.com/swapnilsparsh/Rescue/discussions) here on GitHub for discussing any changes to this project

It is very easy to discuss here rather on Discord

[2021-03-11 17:11] flyingsonu122 commented on #140
@swapnilsparsh please go for it

[2021-03-11 20:44] Aditya201551 opened #142 "Faulty and Outdated packages in requirements.txt file"
@swapnilsparsh

There were many faulty and outdated packages found in the requirements.txt file that caused errors in the functioning of the site(locally) but I have fixed all the issues with the outdated and faulty packages so I would like to resolve this issue with my PR

ThankYou(GSSOC 2021 participant)

[2021-03-12 07:15] devanshi-code commented on #119
Can i work on this issue?

[2021-03-12 08:47] sakshikhachane commented on #6
Hey @nikitajuneja1 and @medhavi11,
Can you please tell me the progress of this issue?

[2021-03-12 08:50] rohank2502 opened #144 "Update Contributions in readme !!"
Will like to add the feature will will update the contributors list automatically ! I have used this in my own repository for demo you can visit that  https://github.com/rohank2502/Learn-GITHUB

[2021-03-12 09:14] rk05-lenavo commented on #127
I'm a GSSOC'21 participant kindly assign me this issue. I would love to work in this.

[2021-03-12 09:36] flyingsonu122 commented on #137
@sakshikhachane now merge the PR

[2021-03-12 12:26] nilisha-jais commented on #118
@swapnilsparsh sorry but I am facing an issue in setting up the project.....if you want you can assign the issue to the next person

[2021-03-12 12:57] sakshikhachane commented on #144
@rohank2502 Go ahead with the issue. Happy learning :)

[2021-03-12 12:59] sakshikhachane commented on #140
@flyingsonu122 Sure! We will do that. Thanks for suggesting :)

[2021-03-12 12:59] #140 closed

[2021-03-12 13:04] sakshikhachane commented on #133
@vineetsingh0809 Can you please tell this so that we could assign you this issue?

[2021-03-12 13:06] sakshikhachane commented on #124
@kanishka8276 Can you please tell this so that we can assign this to you?

[2021-03-12 13:08] flyingsonu122 commented on #140
@sakshikhachane Your discord link is not working, paste the invitation link

[2021-03-12 13:09] kanishka8276 commented on #124
Actually I am already working on 2 issues in this project. So I may not be able to do this in 3 days. But later I can do it.

[2021-03-12 13:13] sakshikhachane commented on #124
Okay, no problem. @kanishka8276.
@mansijain980 Would you like to take on this issue?

[2021-03-12 13:15] mansijain980 commented on #124
@sakshikhachane Yes maam sure . I  would like to do work on it .

[2021-03-12 13:16] sakshikhachane commented on #118
@nilisha-jais What kind of issues you are facing? You can ping me on discord. The username - SAKSHI#0042

[2021-03-12 13:19] sakshikhachane commented on #124
Assigned to you @mansijain980.
Happy learning:)

[2021-03-12 14:41] rohank2502 commented on #144
Thanks !!

[2021-03-12 14:42] aqua0 commented on #118
I woud love to work on this issue as a gssco'21 participant

[2021-03-12 14:45] aqua0 commented on #6
I would like to give it a try. please assign it to me. gssoc'21 participant

[2021-03-12 14:46] aqua0 commented on #120
Hi,I would like to work on it. please assign it to me. gssoc'21 participant

[2021-03-12 15:05] sakshikhachane commented on #142
Hey @Aditya201551,
For now, this isn't required. So I am closing this issue.
You can come up with new issues and we will be assigning the issue happily if relevant.

[2021-03-12 15:05] #142 closed

[2021-03-12 15:55] sakshikhachane commented on #6
@feni-katharotiya Would you like to work on this issue?

[2021-03-12 16:21] tanishq-arya commented on #118
@swapnilsparsh I have changed some CSS and the svg graphic. I would like to work more on this under GSSOC. Please assign me this issue.
![Screenshot (949)](https://user-images.githubusercontent.com/77333275/110967678-ac031a80-837c-11eb-9ec5-4afeb6584013.png)

[2021-03-12 17:32] swapnilsparsh commented on #125
You have to wait for atleast 3 days then the issue will be assigned to you then you can request a PR.

[2021-03-12 17:36] swapnilsparsh commented on #139
Not required

[2021-03-12 17:36] #139 closed

[2021-03-12 17:42] #127 closed

[2021-03-12 18:03] mansijain980 commented on #103
@sakshikhachane Please assign this issue to me . I am a GSSOC'21 participant .

[2021-03-12 18:08] swapnilsparsh commented on #137
Issue resolved by @flyingsonu122 #141

[2021-03-12 18:08] #137 closed

[2021-03-12 21:03] swapnilsparsh commented on #120
@feni-katharotiya You have been assigned.

[2021-03-13 02:42] coding-geek21 opened #146 "Adding content to the home page by adding objective or 'mission and vision' at the home page"
**Is your feature request related to a problem? Please describe.**
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
----
- A clear and concise description of any alternative solutions or features you

[2021-03-13 04:06] sakshikhachane commented on #118
As you have done most of the changes, you are been assigned. Please make a PR after doing the changes.
Happy learning:)

[2021-03-13 05:48] tanishq-arya commented on #118
I have a question. I am not able to change the form or the header and footer because it uses materialize.ui so how should I proceed with that.

[2021-03-13 06:10] GVaruni19 commented on #119
I would like to work on this issue

[2021-03-13 07:20] sakshikhachane commented on #118
Please ping me on discord. Username - SAKSHI#0042

[2021-03-13 07:22] sakshikhachane commented on #6
Anyone among @sakshi21-03 and @somya1210 would like to take on the issue?

[2021-03-13 07:24] sakshikhachane commented on #146
@coding-geek21 Go ahead with this issue. Happy learning :)

[2021-03-13 07:29] vineetsingh0809 commented on #133
Hey @sakshikhachane & @swapnilsparsh .....
I need your guidance in this because I have cloned this in my system but as of now I am not able to make the website visible.
So please tell me how can I see the main website?
By this, I can start my further work on this issue.

[2021-03-13 07:32] coding-geek21 commented on #146
Whoa! @sakshikhachane  Thanks a lot :)

[2021-03-13 08:50] sakshikhachane commented on #133
@vineetsingh0809 Please refer to the installations step mentioned in the `readme.MD` file.

[2021-03-13 10:30] Dimple115 commented on #119
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:31] sakshikhachane commented on #131
Hey @coding-geek21,
Go ahead with the issue. Happy learning:)

[2021-03-13 10:39] coding-geek21 commented on #131
Thank you once again for this opportunity :) @sakshikhachane

[2021-03-13 11:41] kanchi12P opened #151 "Spelling error"
**Describe the bug**
spelling mistake in a file.
**Possible solution**
instead of "security" it's written "securoty" in the file in one place.
- Describe the solution you thought of.
I would like to correct it.

**Additional context**
I am gssoc'21 participant .
**Please assign this to me**.

[2021-03-13 13:23] Pallavi-02 commented on #118
Hey....i'm GSSoC'21 participant. Please assign me this issue.I would love to work on this.

[2021-03-13 15:13] Fpj-11 commented on #146
I am a gssoc'21 participant. I would like to work on this issue.

[2021-03-13 15:32] khanfarhan10 opened #153 "Deployment"
Deploy the Repository to Heroku/Any other Suitable Platform.

- Optimize for Performance
- Scale the WebApp

[2021-03-13 17:04] swapnilsparsh commented on #151
Can you tell in which file there is spelling mistake ?

[2021-03-13 17:06] #144 closed

[2021-03-13 17:18] #123 closed

[2021-03-13 17:19] kanchi12P commented on #151
in Documentation/women_safety_laws.md
in the first line after that image of international womens day

[2021-03-13 17:22] kanchi12P commented on #151
please assign it to me

[2021-03-13 17:35] sonal251001 opened #154 "Whatsapp instead of E-mail"
**Is your feature request related to a problem? Please describe.**
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
- Hey I think there is a problem with sending an email to the trusted ones.

**Describe the solution you'd like**
---- My solution is what if we can send whatsapp messages to the closed one because as much as people are active on wha

[2021-03-13 17:53] MuskanV2001 commented on #133
Hii there, I want to work on this issue as a GSSoC'21 participant.
I wish to modify the website's UI, the home page specifically. I have thought of redesigning the footer and the navigation bar and making some other edits to enhance website's presentation.
Please assign me this issue.

[2021-03-13 18:15] swapnilsparsh commented on #153
Ok, I will be doing that.

[2021-03-13 18:15] #153 closed

[2021-03-13 18:20] swapnilsparsh commented on #154
@sonal251001 Work on this issue and add a alternate to the whatsapp message if any user does not have account on whatsapp then message should go on email and SMS both.

[2021-03-14 03:36] sakshikhachane commented on #133
Hey @vineetsingh0809,
Were you able to do the set up locally?

[2021-03-14 03:37] sakshikhachane commented on #6
@aqua0 Please go ahead with the issue. Happy learning:)

[2021-03-14 05:55] Avantika782 commented on #6
Hey, I am a GSSOC 2021 participant and would like to give it a try and I'm a new comer to open source so please guide me through this and assign this issue to me.
Waiting for a positive response. ;)
@aqua0

[2021-03-14 05:57] Avantika782 commented on #118
Hey want to contribute to it. Can you assign it to me @swapnilsparsh

[2021-03-14 07:07] Avantika782 commented on #151
hey, I'm a GSSOC participant please assign this to me;)

[2021-03-14 07:58] yashkumar7889 commented on #118
Hey, I'm GSSoC21 particioant. I would like to add icon which can show and hide password. Please assign this to me. I would love to work on this.

[2021-03-14 13:54] mansijain980 commented on #124
@sakshikhachane i have done this almost .....i will commit PR soon.

[2021-03-14 14:12] sakshikhachane commented on #124
Yes, @mansijain980 take your time. If you require more time then do tell us :)

[2021-03-15 02:22] zaverisanya opened #157 "[GSSoC'21] To enhance the 'create emergency contact page' with css and bootstrap."
I am a participant of GSSoC'21 and I feel that the 'create emergency contact page' can be made better looking by applying CSS and Bootstrap. Please allow me to make changes in `Rescue/main_app/templates/main_app/create_contact.html` to improve the UI.

@SubhradeepSS @flyingsonu122 Please let me know if I can work on this issue or not.

[2021-03-15 04:01] sakshikhachane commented on #157
Hey @zaverisanya,
Go ahead with the issue. Happy learning:)

[2021-03-15 17:46] #118 closed

[2021-03-15 17:50] #119 closed

[2021-03-15 17:51] #151 closed

[2021-03-15 20:30] jainayush362 opened #158 "Location Alert based on IP Address"
**Is your feature request related to a problem? Please describe.**
----
- In any type of emergency, the Location of Victim plays a very crucial role. In India, most of the ISP's provide Dynamic IP Address i.e. it keeps changing as you move. So it will be good if one can use it to detect and alert about the location of victim also.

**Describe the solution you'd like**
----
- Using the IP Address w

[2021-03-16 09:16] sakshikhachane commented on #124
@mansijain980 Any updates?

[2021-03-16 09:25] sakshikhachane opened #159 "Improve the format of email message"
Deliverable -
- [ ]  On clicking the `EMERGENCY!` button, the mail is sent to the saved contacts.
    Modify the format and design of the message sent through the mail.

[2021-03-16 09:26] sakshikhachane commented on #131
@coding-geek21 Any updates?

[2021-03-16 09:30] sakshikhachane opened #160 "Make login page similar to register page"
Deliverable -
- [ ] The login page and register page are currently having different designs. Make UI of login page similar to that of register page.

[2021-03-16 09:37] coding-geek21 commented on #131
Yes @sakshikhachane  i will be creating pull request by today ,

[2021-03-16 09:52] manasivaraiya commented on #160
Can I try working on this?
I am a participant of gssoc'21

[2021-03-16 11:18] mansijain980 commented on #124
@sakshikhachane Yes ma'am , work is almost done . Actually due to class projects , there was some delay . Most probably till tomorrow i will request u a PR .
THANKS.

[2021-03-16 11:32] Diksha-11 opened #161 "Improve women_right.md documentation"
I am a participant of GSSOC'21.
I want improve women_right.md documentation by adding an introductory paragraph into it.

I request @swapnilsparsh sir to assign me this issue.

[2021-03-16 11:58] vineetsingh0809 commented on #133
Hey, @sakshikhachane I did it and I saw the navigation bar is not looking that good so I want to work to make the navigation bar attractive.
![Capture](https://user-images.githubusercontent.com/75788774/111305103-8a57ab00-867c-11eb-8c8c-e307a8aca51d.PNG)

And 2nd thing I was thinking that when we are tapping any button in the navigation bar, it should be open in a new tab......
so should I start w

[2021-03-16 12:59] sakshikhachane commented on #160
Sure @manasivaraiya. Go ahead with the issue. Happy learning :)

Hey @AshuKV, we are going FCFS and each contributor is assigned for 3 days and if the contributor is not able to submit PR within 3 days then it will be assigned to the next person. Meanwhile, you can look for other issues or open up a new issue.

[2021-03-16 13:00] sakshikhachane commented on #159
Sure @AshuKV. Go ahead with the issue.
Happy learning :)

[2021-03-16 13:04] sakshikhachane commented on #133
@vineetsingh0809 Can you please show the sample of a design you are planning to make for the navigation bar?

[2021-03-16 14:28] RiaKokate commented on #161
Hello @swapnilsparsh.
I hope you are fine and doing well.
I am a GSSOC'21 participant and would like to contribute to this project. Could you please assign it to me.

[2021-03-16 14:32] RiaKokate commented on #133
Hey @swapnilsparsh
I could work on designing a logo for your project. I could share some of my ideas .Respond if you would like to have it on you project. Thanks

[2021-03-16 14:33] RiaKokate commented on #117
Hello @swapnilsparsh Can I be a part of this task. I would love to work for this.
Thanks.

[2021-03-16 16:40] PandeySomya77 opened #163 "Code Structure"
Write framework structure in a particular manner.

[2021-03-16 16:40] PandeySomya77 commented on #163
Can I work on this issue?

[2021-03-16 17:56] swapnilsparsh commented on #158
@jainayush362 Work on it

[2021-03-16 18:19] coding-geek21 commented on #131
hello @sakshikhachane I have completed the footer part of home.html page i have to change the same for other pages also
so can i do the pull request tomorrow

![image](https://user-images.githubusercontent.com/53329034/111359954-2d76e780-86b2-11eb-8cfc-5e246ff047c3.png)

[2021-03-17 03:26] sakshikhachane commented on #163
@PandeySomya77 Can you please elaborate on the issue?

[2021-03-17 03:29] coding-geek21 commented on #131
Hello @sakshikhachane  i have a doubt , I have already made a pull request for another issue  which is not merged yet, so will i be able to  create a PR for this issue now?

[2021-03-17 03:32] sakshikhachane commented on #131
@coding-geek21 Please ping me on discord. Username - SAKSHI#0042. I need to discuss with you regarding the footer also. Discussing here won't be a good option.

[2021-03-17 03:34] sakshikhachane commented on #133
Hey @RiaKokate,
Let's discuss the ideas in the discussions section :)

[2021-03-17 03:36] coding-geek21 commented on #131
ok @sakshikhachane

[2021-03-17 06:58] Tarun-Kamboj opened #164 "Improving the UI of register and login with columns."
**Is your feature request related to a problem? Please describe.**
----
- Yes, currently the register and login pages shows content in a single column like this
![Screenshot (200)](https://user-images.githubusercontent.com/56023742/111427152-abbba400-871b-11eb-8bb3-2d59b39b5005.png)

**Describe the solution you'd like**
----
- These pages should look something like this
![Screenshot (203)](https:/

[2021-03-17 11:31] sakshikhachane commented on #6
@aqua0 Any update on the issue?

[2021-03-17 13:29] vineetsingh0809 commented on #133
Yes Sure

[2021-03-17 14:27] jainayush362 commented on #158
Thanks..... I have started working on it.

[2021-03-17 17:16] swapnilsparsh commented on #161
There is no need to improve the documentation right now.

[2021-03-17 17:16] #161 closed

[2021-03-17 17:41] garvitraj commented on #164
Can i too work on this issue i would try to better design as per my graphic designing and UI/UX skills?
@swapnilsparsh pls assign this issue to me or i can collab with @Tarun-Kamboj and we both can give a better look to it.
Thanks

[2021-03-17 17:47] garvitraj opened #168 "Our website needs attractive logo"
Hey @swapnilsparsh i would like to contribute to basically Ui/Ux and fronted part as i too have those skills i would firstly like to design a better and attractive logo for our Website .
It would be a pleasure if you assign this issue to me.
Thanks

[2021-03-17 18:33] #146 closed

[2021-03-17 18:36] swapnilsparsh commented on #164
Can you share some desgin that you have made ?

[2021-03-17 18:36] swapnilsparsh commented on #168
Share some desgin if possible.

[2021-03-17 20:30] swapnilsparsh commented on #125
Issue resolved by @kanishka8276

[2021-03-17 20:30] #125 closed

[2021-03-18 06:52] manasivaraiya commented on #160
I had created a PR yesterday! lemme know if there are any more changes required.

[2021-03-18 07:48] Tarun-Kamboj commented on #164
@swapnilsparsh Are these fine?
![Screenshot (209)](https://user-images.githubusercontent.com/56023742/111589961-8b5b1a80-87eb-11eb-91b7-114373f69ceb.png)

![Screenshot (208)](https://user-images.githubusercontent.com/56023742/111589875-6cf51f00-87eb-11eb-9bcd-77ebf1fea1bd.png)

[2021-03-18 07:58] Tarun-Kamboj commented on #168
Yea, a logo would look much better.
| ![Screenshot (210)](https://user-images.githubusercontent.com/56023742/111591408-6cf61e80-87ed-11eb-8f5d-052e5d12ede4.png) | ![Screenshot (211)](https://user-images.githubusercontent.com/56023742/111591424-71bad280-87ed-11eb-9f87-ce48ebdd888d.png) |
|---|---|

@garvitraj can you share some designs.

[2021-03-18 10:14] mansijain980 commented on #160
@sakshikhachane Can i work on it?

[2021-03-18 10:17] mansijain980 commented on #168
Can i work on this?

[2021-03-18 11:30] garvitraj commented on #168
@swapnilsparsh will share it today

[2021-03-18 12:10] garvitraj commented on #168
I m Sharing a design pls look into it.
any feed or suggestion pls tell me
![Rescue logo](https://user-images.githubusercontent.com/62978449/111623927-0aaf1500-8811-11eb-809f-34add6fde45c.png)

[2021-03-18 12:11] garvitraj commented on #168
can adjust the shape as per the website
and will surely do some more designs by end of the day

[2021-03-18 16:06] VaibhavSharma24 opened #175 "grammatical mistake"
**Describe the bug**

A grammatical mistake of fullstop in a statement in the footer on the home page .

**Possible solution**

i want you to assign me this issue and i will resolve it.

i would love to do this.

i am GSSOC'21 participant @swapnilsparsh @sakshikhachane

[2021-03-18 16:28] manasivaraiya commented on #175
want you to assign me this issue and i will resolve it.

I would love to do this.

I am GSSOC'21 participant

[2021-03-18 20:07] ambivert-sam commented on #175
Hey! @VaibhavSharma24 I'm participant of GSSoC'21 I would like to contribute to this issue
can you please assign it to me

[2021-03-18 20:08] ambivert-sam commented on #160
Hey ! @AshuKV  I'm participant of GSSoC'21 I would like to contribute to this issue
can you please assign it to me

[2021-03-19 10:28] sakshikhachane commented on #6
@Avantika782 Would you like to take on this issue?

[2021-03-19 10:30] #133 closed

[2021-03-19 10:30] #163 closed

[2021-03-19 10:31] sakshikhachane commented on #168
@garvitraj Go ahead with the issue. Happy learning :)

[2021-03-19 10:34] sakshikhachane commented on #164
It is looking good. Make a PR.

[2021-03-19 10:59] Tarun-Kamboj commented on #164
Done.

[2021-03-19 11:07] sakshikhachane commented on #159
@AshuKV Any updates on the issue?

[2021-03-19 11:08] sakshikhachane commented on #154
@sonal251001 Any updates on the issue?

[2021-03-19 11:34] SUMEKAGARWAL opened #178 "Resolving bugs like..."
- In Women's Rights section, when we hover on the block, there is no action. Its responsive when we hover on the text instead. So, I will add that functionality. The same is active in the other section-"Women's Safety Laws".
- Drop down is at the left side instead of right or along the end. I will resolve it.
- While creating a new contact, its mandatory to enter the email-id. What if parents don'

[2021-03-19 12:17] simranbhalla3 commented on #175
Hi I am a Gssoc'21 participant and would like to work on this issue. @VaibhavSharma24  Could you please assign this to me?

[2021-03-19 12:18] simranbhalla3 commented on #178
Hi I am a Gssoc'21 participant and would like to work on this issue ,Could you please assign me this issue? @SUMEKAGARWAL

[2021-03-19 12:19] simranbhalla3 commented on #160
Hi I am a Gssoc'21 participant and would like to work on this issue , I have experience in css and js , please assign me this issue

[2021-03-19 12:19] simranbhalla3 commented on #103
Hi I am a Gssoc'21 participant and would like to work on this issue , I have experience in css and js , please assign me this issue

[2021-03-19 12:20] simranbhalla3 commented on #117
Hii . Can i work on this issue? I am a Gssoc participant

[2021-03-19 12:20] sakshikhachane commented on #103
@simranbhalla3 Go ahead with this issue. Happy learning:)

[2021-03-19 12:20] simranbhalla3 commented on #157
Hi I am a Gssoc'21 participant and would like to work on this issue , I have experience in css and js , please assign me this issue

[2021-03-19 13:08] SUMEKAGARWAL commented on #178
Hi @simranbhalla3 !
I am also a participant like you and I am not assigned with the issue yet!
Hello @swapnilsparsh , looking forward to make some commits if assigned.

[2021-03-19 13:32] AshuKV commented on #159
Hey @sakshikhachane, I am currently working on the issue. Can you please add another contributors to work on the same issue with me.

[2021-03-19 13:58] jainayush362 opened #179 "Web page having details about various NGOs that help Women."
**Is your feature request related to a problem? Please describe.**
----
- In India, there are many NGOs that are helping women to fight for their rights by providing them legal justice and many other services as well. The problem is that women's don't have much information about such NGOs and that's why they feel helpless.

**Describe the solution you'd like**
----
- Under the option "MORE" in nav

[2021-03-19 14:17] sonal251001 commented on #154
No. I'm sorry but I wrote above that I don't know how to do it. I'll do it if anyone can guide me.

[2021-03-19 16:29] garvitraj commented on #168
@sakshikhachane any feedback about above one
should we go with the red theme

[2021-03-19 16:30] Avantika782 commented on #6
@sakshikhachane  Yes I would like to work on this issue. Please assign it to me;)

[2021-03-19 18:16] simranbhalla3 opened #180 "Improve the Footer"
**Is your feature request related to a problem? Please describe.**
----
I think the footer of this website can be improved

**Describe the solution you'd like**
----It can be  made better by adding css and javascript

Please assign me this issue so that i can work on it and make better changes

[2021-03-19 18:54] simranbhalla3 opened #182 "Improve the fonts and color scheme of the website"
I'd like to work on the Frontend bugs , and make the website for catch to the eye by using css and javascript.
Please assign me this issue under Gssoc label so that i can work on it

[2021-03-20 02:22] SUMEKAGARWAL commented on #178
Hello @swapnilsparsh , looking forward to make some commits if assigned.

[2021-03-20 04:20] sakshikhachane commented on #154
@sonal251001 Okay! No problem.

[2021-03-20 04:21] sakshikhachane commented on #6
@Avantika782 Go ahead with the issue. Happy learning :)

[2021-03-20 04:26] sakshikhachane commented on #159
@AshuKV This issue doesn't require more contributors as it is not that tough and consists of the modification of UI format.

[2021-03-20 05:06] niya210 commented on #182
I would like to work on it, being  GSSOC'21 participant, could I be assigned with this issue?

[2021-03-20 06:08] khusheekapoor commented on #117
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. Thanks!

[2021-03-20 06:15] coding-geek21 opened #183 "creating sign up and sign in using email"
I'm a GSSoC'21 participant i'm interested in working on this issue , Can you please assign this to me

[2021-03-20 06:49] manasivaraiya commented on #183
I'd like to contribute to this.
I am a GSSOC'21 participant

[2021-03-20 07:01] coding-geek21 commented on #131
@sakshikhachane  can you please add the level tag for this issue , because there are points for each level

[2021-03-20 07:24] sakshikhachane commented on #168
Yes, a red theme would be better.

[2021-03-20 08:21] garvitraj commented on #168
ok @sakshikhachane will make some more then we can finalize

[2021-03-20 10:14] Tarun-Kamboj commented on #154
I think we can do it using pywhatkit. Can I try this one? @sakshikhachane

[2021-03-20 12:41] shreya9301 commented on #183
I'm a GSSoc'21 participant and I'm really looking forward to work on this issue. @coding-geek21 Please assign it to me .

[2021-03-20 13:00] sakshikhachane commented on #154
@Tarun-Kamboj Go ahead with the issue. Happy learning:)

[2021-03-20 13:01] nikhilkotiya opened #184 "Preloader"
**Is your feature request related to a problem? Please describe.**
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

I want to add a preloader for this project.
I am a gssoc'21 participant and want to contribute on this project.

- A clear and concise description of what you want to happen.

**Describe alterna

[2021-03-20 13:06] nikhilkotiya opened #185 "New registration form backend."
I want to add a User defined registration from, so it removes unnecessary lines like (Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.)

Also admin have all the details of user.

I am a gssoc'21 participant and want to contribute on this project.

[2021-03-20 13:09] sakshikhachane commented on #175
Hey @VaibhavSharma24,
The grammatical mistake is being fixed in one of the issues. So, I am closing this issue.
Please look for different issues or open new relevant issues.

[2021-03-20 13:09] #175 closed

[2021-03-20 13:11] sakshikhachane commented on #179
@jainayush362 Go ahead with this issue :)

[2021-03-20 13:15] sakshikhachane commented on #180
Hey @simranbhalla3,
The footer enhancement is almost completed by one of the contributors.
Please look for more issues or create your own issues. Happy contributing:)

[2021-03-20 13:15] #180 closed

[2021-03-20 13:17] sakshikhachane commented on #184
Hey @nikhilkotiya,
The preloader is already added by one of the contributors.
Please look for different issues or create your own issues. Happy contributing:)

[2021-03-20 13:17] #184 closed

[2021-03-20 13:19] sakshikhachane commented on #182
Can you please elaborate more like which bugs?

[2021-03-20 13:22] sakshikhachane commented on #183
@coding-geek21 Go ahead with the issue. Happy learning:)

[2021-03-20 13:28] nikhilkotiya commented on #184
@sakshikhachane  But preloader is not visible in all URL. Also,  the time of loading is less.

[2021-03-20 13:59] jainayush362 commented on #179
Thank you so much......I have started working on this.

[2021-03-21 07:44] siddharth-143 commented on #183
I'm a GSSoC'21 participant i'm interested in working on this issue . Would you like to assign me

[2021-03-21 11:16] arpit456jain opened #186 "[GSSoc'21]Font sizes are not perfect in phone view"
**Describe the bug**
----
The font size is hard-coded in every tag like h1 and p , it is ok for desktop version but in small screen like phone the text is not clearly visible It is looking like this.
![screencapture-127-0-0-1-8000-women-rights-2021-03-21-15_43_27](https://user-images.githubusercontent.com/55352601/111901587-23146f00-8a5f-11eb-8ed0-11009d670e51.png)

**To Reproduce**
----
- Steps t

[2021-03-21 11:20] arpit456jain commented on #186
Please assign me this issue i will also modify the font size of other two pages within an hour .

[2021-03-21 13:07] sakshikhachane commented on #178
@SUMEKAGARWAL Go ahead with the issue. Happy learning:)

[2021-03-21 13:34] vidhishah03 opened #187 "A clean footer with quick links"
I want to add a clean footer to the website that will contain some quick links for navigation as well as the social media handles if any. It will also contain a "contact us" section with a section to send quick emails to the developers.

I am a GSSOC'21 participant, kindly assign me this issue.

The preview looks something like this

![image](https://user-images.githubusercontent.com/58200995/1119

[2021-03-22 03:51] coding-geek21 opened #189 "Password reset for the user using forgot password in login page"
Hey @sakshikhachane  can you please assign this issue to me , I would like to work on this

[2021-03-22 03:52] coding-geek21 opened #190 "Sending the confirmation mail after registration of the user"
Hi @sakshikhachane I would like to work on this issue, please assign me

[2021-03-22 06:01] shreyanshi16 commented on #189
Hey! I would like to work on this issue. Please assign me.

[2021-03-22 11:37] manasivaraiya commented on #190
I'd like to contribute to this issue.
I am a GSSOC'21 participant. pls assign this to me

[2021-03-22 11:40] sakshikhachane commented on #189
@coding-geek21 Go ahead with the issue. Happy learning:)

[2021-03-22 11:44] sakshikhachane commented on #187
@vidhishah03 The footer is already redesigned, PR of which `ready-to-merge`.
Thanks for suggesting:)
 You can look for other issues or make your own issues and let us know your great ideas.

[2021-03-22 11:44] #187 closed

[2021-03-22 11:48] sakshikhachane commented on #186
@arpit456jain Actually there is no such font size problem. It is looking as it is expected to be.

[2021-03-22 11:56] sakshikhachane commented on #190
Hey @coding-geek21,
I can assign you this issue only when #191 will be `ready-to-merge`. So please wait for this.

[2021-03-22 11:56] #182 closed

[2021-03-22 11:57] coding-geek21 commented on #190
Okay @sakshikhachane  I will wait 😊

[2021-03-22 12:04] arpit456jain commented on #186
Actually Its was very small in Phone for me when i hosted it and opened it in my phone every thing is very small ,
no problem if you think it's fine 🙂 you can close this issue.

[2021-03-22 12:16] sakshikhachane commented on #186
@arpit456jain Go ahead with the issue. The font sizes are `hard-coded` and ideally, it shouldn't be. Happy learning:)

[2021-03-22 12:18] sakshikhachane commented on #117
@simranbhalla3 Goaahead with the issue:)

[2021-03-22 12:21] sakshikhachane commented on #190
Hey @manasivaraiya,
Please look for different issues or create your own issues. We would like to look forward to your ideas:)
If @coding-geek21 is not able to complete the issue by tomorrow, then this issue will be assigned to you.

[2021-03-22 12:27] arpit456jain commented on #186
Ok mam
Mam can you please add the label of (level)

[2021-03-22 18:23] #164 closed

[2021-03-23 05:43] shreyanshi16 commented on #190
Hey! I would like to work on this issue. Please assign me.

[2021-03-23 06:04] simranbhalla3 opened #193 "Fix Extra White space on Women Safety Rules"
**Describe the bug**
----
There is extra White Space before the footer when the website is viewed in Galaxy Fold screen

![image](https://user-images.githubusercontent.com/73423545/112100662-76a3cb80-8bcb-11eb-971f-fb873ac48eaf.png)
 I am a Gssoc participant and would like to work on this issue, Please assign this to me @sakshikhachane  @swapnilsparsh

[2021-03-23 06:25] arpit456jain commented on #186
@sakshikhachane  I had almost solve this issue **and improve the design of navbar if you notice currently in phone view when we click on toggle button it leave some space on both sides, I had solved it**
I had fixes the
home.html
common.html
currently working on the files which extends common.html
I have a request **Please don't Merge any PR until I create a PR otherwise I have to do all changes a

[2021-03-23 06:31] arpit456jain commented on #186
I had replace all inline CSS **(which are hard-coded)** to internal CSS for easy editing and media queries  Please don't merge any PR

[2021-03-23 06:32] vidhishah03 opened #194 "User Profile section with edit"
I want to add a user profile section after logging in that will contain information like profile picture, name, email etc. It will also contain an edit functionality where in the user can change the profile details.

I am a Gssoc'21 participant. Please assign this to me.

[2021-03-23 07:33] simranbhalla3 commented on #117
@sakshikhachane I had some doubt, could you tell me what exactly i have to change? like the information regarding the laws or the way they are written (specifically the css?)

[2021-03-23 07:44] sakshikhachane commented on #194
@vidhishah03 Go ahead with the issue. Happy learning:)

[2021-03-23 07:48] #185 closed

[2021-03-23 07:52] manasivaraiya commented on #190
Okay no problem

[2021-03-23 09:11] SUMEKAGARWAL commented on #178
@sakshikhachane The work is done!
 Looking forward for any other changes that has to be changed and if not, request you to merge my PR.

[2021-03-23 09:37] mansijain980 commented on #124
@sakshikhachane ma'am please review it and merge the pull request.
Thanks.

[2021-03-23 09:39] arpit456jain commented on #186
@jatinjain001 sir please review the PR #195  before any other PR got merge otherwise i have to do changes again if any conflicts occur

[2021-03-23 13:11] somya51p opened #197 "Changing password functionality"
**Is your feature request related to a problem? Please describe.**
----
Sometimes after signing up user wants to change the password for security reasons.

**Describe the solution you'd like**
----
Changing passwords and viewing their profile option would be provided to users that will make the user's experience better.

**Describe alternatives you've considered**
----
Viewing and editing profiles

[2021-03-23 13:20] somya51p opened #198 "Contact Us page"
A page where users can send a message to the admins regarding any issue they are facing in the website or in case of any emergency would increase the security in many ways, and also its additional functionality.

_I am a GSSOC contributor and wish to contribute to this issue. Please assign me the same._

[2021-03-23 16:55] swapnilsparsh commented on #193
No need of this issue.

[2021-03-23 16:55] #193 closed

[2021-03-23 18:26] swapnilsparsh commented on #197
@somya51p Go ahead with the issue.

[2021-03-24 05:45] Tarun-Kamboj commented on #154
I've implemented sending whatsapp messages to the contacts of the user.
Here are the changes that I've made.

1. User will now also be adding the the mobile numbers of their contacts.

| ![Capture3](https://user-images.githubusercontent.com/56023742/112260495-06ab4900-8c90-11eb-92ed-d4c8378a1bfc.PNG) | ![Capture4](https://user-images.githubusercontent.com/56023742/112260570-2b9fbc00-8c90-11eb-9014

[2021-03-24 05:50] arpit456jain commented on #186
@sakshikhachane mam please review my PR #195

[2021-03-24 06:33] SUMEKAGARWAL commented on #178
@swapnilsparsh @sakshikhachane
Have a look on these changes. If something is not up to the mark, please update the change that have to be committed.
And if not, merge my PR.

[2021-03-24 09:16] Devesh225 opened #199 "Update the footer text, and also to edit the padding to make it look good."
**Describe the bug**
----
- The text is grammatically incorrect in the footer section of every page of the website and also the padding between the text and the links(Developers, Helpline No.) is not looking good enough.

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to any page of the website.
  2. Navigate to footer section.
  3. Visualize the footer text and also the padding

[2021-03-24 09:18] Devesh225 commented on #199
I want to work on this issue as a part of Gssoc' 21, can you kindly assign it to me? @swapnilsparsh :)

[2021-03-24 10:22] tanishq-arya opened #200 "Modifying the UI for Helpline numbers page"
The font should be a normal one instead.
I would like to work on styling of the table too.
Replace some illustrations with newer ones.

[2021-03-24 10:39] tanishq-arya opened #201 "UI issue: Back to top button"
**Describe the bug**
----
- A clear and concise description of what the bug is.
The button uses 2 images and it can be made more efficient.

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to '...'
  2. Click on '....'
  3. Scroll down to '....'
  4. See error

**Expected behavior**
-----
- A clear and concise description of what you expected to happen.

**Possible solution**
----

[2021-03-24 13:21] sakshikhachane commented on #199
Hey @Devesh225,
The footer is already redesigned and is yet to be merged. Please look for another issue or create your own issues. We would like to see more ideas.

[2021-03-24 13:21] #199 closed

[2021-03-24 13:23] sakshikhachane commented on #200
@tanishq-arya The font is better I think. Can you share some designs you have thought of if possible?

[2021-03-24 13:24] sakshikhachane commented on #201
@tanishq-arya Go ahead with the issue. Happy learning:)

[2021-03-24 13:25] sakshikhachane commented on #159
@nandini040 Go ahead with the issue. Happy learning:)

[2021-03-24 13:53] sakshikhachane commented on #168
Any updates?

[2021-03-24 13:55] sakshikhachane commented on #154
@Tarun-Kamboj Great work! Please make a PR so that if there are any changes, then they can be suggested.

[2021-03-24 13:56] sakshikhachane commented on #6
@Avantika782 Any updates?

[2021-03-24 15:20] coding-geek21 commented on #168
I would like to work on this issue can you please assign me

[2021-03-24 17:57] tanishq-arya commented on #201
![image](https://user-images.githubusercontent.com/77333275/112360558-76edb500-8cf8-11eb-9529-df169af7f752.png)
I have made something like this

[2021-03-25 04:14] tanishq-arya commented on #200
Sure. I will share it by today.

[2021-03-25 05:00] shitesh2607 commented on #6
Can I work on this issue?

[2021-03-25 05:32] Tarun-Kamboj commented on #154
Done @sakshikhachane, please review.

[2021-03-25 06:51] Naman-12911 commented on #198
Hello I want to add a contact page please assign me this issue under GSSOC.

[2021-03-25 08:26] Ratnesh4193 opened #206 "Send an Emergency SmS along with email"
**Is your feature request related to a problem? Please describe.**
----
- Sending an sms along with the emergency email .

**Describe the solution you'd like**
----
- Would like to add a script to send sms update in emegency.

[2021-03-25 10:53] #179 closed

[2021-03-25 11:29] tanishq-arya commented on #200
![Screenshot (987)](https://user-images.githubusercontent.com/77333275/112466020-60446e00-8d8b-11eb-8d89-a08f116f8c66.png)
![Screenshot (988)](https://user-images.githubusercontent.com/77333275/112466030-620e3180-8d8b-11eb-9d08-4a0f8a214d19.png)

I have redesigned something like this. But I am unable to make changes for mobile view because of the css.

[2021-03-25 11:50] nandini040 commented on #159
@ sakshikhachane what i have to do i am little bit confused

[2021-03-25 13:50] sakshikhachane commented on #159
Hey @nandini040,
Have you done the local setup? When you click on `EMERGENCY!` button, the mail will be sent to the emergency contacts that you have added. So, this issue is about modifying the format of the email message that is the display of the message that will be sent.

[2021-03-25 14:06] sakshikhachane commented on #6
Yes sure! @shitesh2607

[2021-03-25 14:23] sakshikhachane commented on #201
Looking good! Just increase the radius of the circle if possible and then make a PR.

[2021-03-25 14:31] sakshikhachane commented on #168
Get the PRs for issues 189 and 190 in `ready-to-merge` state then you can go ahead with this issue.

[2021-03-25 15:01] sakshikhachane commented on #198
@swapnilsparsh Have a look at this issue.

[2021-03-25 15:03] sakshikhachane commented on #206
@Ratnesh4193 Can you elaborate on this?

[2021-03-25 17:12] #183 closed

[2021-03-25 17:52] swapnilsparsh commented on #198
@somya51p Work on it.

[2021-03-25 18:13] prsndp opened #208 "Navbar with Logo instead of using Home Icon"
Hi, I'm a GSSoC'21 participant and I think we need to add a logo on the navbar right side instead of using the **home logo**. So project admins please let me know about this idea.

[2021-03-25 18:28] swapnilsparsh commented on #208
#168 It's already there.

[2021-03-25 18:28] #208 closed

[2021-03-26 04:14] sakshikhachane commented on #200
Hey @tanishq-arya,
Go ahead with the issue.

[2021-03-26 11:29] garvitraj commented on #168
@sakshikhachane can i make a pr for the logo

[2021-03-26 14:18] Aditya201551 opened #210 "[FEATURE] [GSSOC' 21] Adding google auth to the project"
**Is your feature request related to a problem? Please describe.**
----
- It would be great if users would have an option to have a one-tap log in with google as it is frustrating to fill lengthy signup forms and verify their email after manual signups.

**Describe the solution you'd like**
----
- I would like to add a `log in with google` feature to this project with google's OAuth login API

**D

[2021-03-26 15:04] muthuannamalai12 opened #211 "Add github action to auto label issues"
Add github action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-26 19:25] Kavs-123 commented on #117
Hey @simranbhalla3,
I am excited to work on this issue and perform the necessary changes!
Please allow me to do so

[2021-03-27 02:45] Ratnesh4193 commented on #206
@sakshikhachane Along with email we can store the phone contacts .
And when emergency button is clicked we can send an auto generated sms along with  email.
Also probability of a person connected to internet conection is lesser
so Sms can serve the purpose in a better way.

[2021-03-27 04:36] Charanjeev-2k2 commented on #117
Hi @sakshikhachane I am eager to contribute to this issue. Kindly assign it to me :)

[2021-03-27 05:49] Nishayadav-bit commented on #6
Hey! @swapnilsparsh  , I would like to work on this issue .Please assign to me .
I'm a participant in GSSOC'21.

[2021-03-27 11:42] shitesh2607 commented on #6
@Nishayadav-bit  Go ahead.

[2021-03-27 14:18] Nishayadav-bit commented on #6
@shitesh2607 Sure, I will do it .

[2021-03-27 16:17] coding-geek21 commented on #159
Hey @sakshikhachane  i would like to work on this issue can you please assign me :)

[2021-03-27 16:50] KajalSinghBAGHEL commented on #198
I am GSSOC 21 participant I am a beginner and would like to work on this issue and learn new things, please assign me.

[2021-03-27 17:19] VaibhavSharma24 opened #215 "Adding a faq page"
i would like to add a FAQ page on this website which will let people clear their common doubts.

i want you to assign me this work and i will love to do it.

[2021-03-27 18:12] #201 closed

[2021-03-27 20:00] swapnilsparsh commented on #168
You said you will share some logos, after that we can finalize
If so, then you can message me on discord or linkedin.

[2021-03-27 20:01] swapnilsparsh commented on #210
@Aditya201551 Work on it.

[2021-03-27 20:02] swapnilsparsh commented on #211
I prefer doing it manually.

[2021-03-27 20:02] #211 closed

[2021-03-27 20:03] swapnilsparsh commented on #206
Its already there #6

[2021-03-27 20:03] #206 closed

[2021-03-27 20:05] swapnilsparsh commented on #117
Work on it.

[2021-03-27 20:32] swapnilsparsh commented on #215
What common doubts, can you explain ?

[2021-03-28 10:50] VaibhavSharma24 commented on #215
yeah some common doubts like :

Q . What does emergency button do ?
Q . What is the aim of this website ?
Q . Is it free to register ?
Q . How can i save my emergency numbers ?
Q . Where can i share my personal problem ?

[2021-03-28 16:41] mansijain980 commented on #159
@sakshikhachane Can i work on this issue?

[2021-03-28 16:43] mansijain980 commented on #157
@sakshikhachane can i work on this issue?

[2021-03-28 16:58] Muskan-creator opened #217 "bug in navbar"
In home section there is no effect or animations on navbar so do not add any interactivity to user without clicking but when we move to other pages it gives a hover effect of color change but not looks good also the font size is not matching with website
![rescue](https://user-images.githubusercontent.com/59757988/112760099-76fcf600-9013-11eb-8ee0-b02ba79e845b.png)

----
- A clear and concise desc

[2021-03-28 16:58] Muskan-creator commented on #217
Please assign this issue to me @swapnilsparsh

[2021-03-28 17:13] mansijain980 opened #218 "Add watermark"
**Description
Adding watermark on women's safety laws  and women's rights can enhance the website and it will look attractive.
Light color watermark can work or watermark with name "RESCUE" will also a good option.

[2021-03-28 17:53] mansijain980 opened #220 "Add a webpage for women's rights activists as image gallery ."
**Description
A webpage which is having an image gallery of women's rights activists like Malala Yousafzai , Ramabai Ranade etc . and a little description about each of them.

It will make the website readable and attractive .

[2021-03-28 18:05] mansijain980 commented on #117
Can i proceed with this issue as i requested before Kavs-123 and really want to solve this .
Thanks

[2021-03-28 19:15] niksm7 opened #221 "Making the Carousel Slideshow on home page dynamic with read more button"
**Is your feature request related to a problem? Please describe.**
----
- The main aim of the carousel slideshow on home page is to motivate women but why restrict only to showcasing some of brave women. Changing code again and again for adding slides is a very tedious task.

**Describe the solution you'd like**
----
-  It would be better to fetch the items from database and display them with a re

[2021-03-28 19:23] niksm7 opened #222 "Show password option in login page"
**Is your feature request related to a problem? Please describe.**
----
- It is very frustrating to not know what password you are typing and get it wrong again and again.

**Describe the solution you'd like**
----
- It is better to keep a show password small button (eye shaped) so that anytime the user can view the password they are typing.

**Additional context**
----
- I'm a GSSOC '21 participa

[2021-03-29 16:27] nitinshukla413 commented on #222
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-29 18:26] swapnilsparsh commented on #215
@VaibhavSharma24  Work on it and add some more FAQ.

[2021-03-29 19:41] swapnilsparsh commented on #220
@mansijain980 Ok, work on it.

[2021-03-29 20:22] swapnilsparsh commented on #159
@nandini040 Any updates on the issue ?

[2021-03-29 20:23] swapnilsparsh commented on #217
@Muskan-creator Go ahead.

[2021-03-29 20:25] swapnilsparsh commented on #218
No need of watermark right now.

[2021-03-29 20:25] #218 closed

[2021-03-29 20:31] swapnilsparsh commented on #117
Sorry, I forgot to assign you, please look after other issues that need your help.

[2021-03-29 20:32] swapnilsparsh commented on #221
@niksm7 Go ahead.

[2021-03-29 20:43] swapnilsparsh commented on #222
@niksm7 Work on it.

[2021-03-30 18:02] mansijain980 commented on #220
Yes sir , i had already started but it will take some time actually my exams r going on bt i will commit it as soon as possible.
Thanks

[2021-03-31 09:17] nandini040 commented on #159
I am getting some issue in doing local setup.

[2021-03-31 12:12] niksm7 opened #226 "Dynamic Username and Email check for register form"
**Is your feature request related to a problem? Please describe.**
----
The register form expects username and email which should be unique according to Django authentication but when some other user tries to register with already existing username or email they are given an error "password mismatch" even though the passwords are same.

**Describe the solution you'd like**
----
It is better to che

[2021-03-31 16:24] garvitraj commented on #168
@swapnilsparsh sorry for the late reply i was busy with my ese at collages it just got over today so will be sending some samples by today

[2021-03-31 16:52] #210 closed

[2021-04-01 08:31] coding-geek21 opened #227 "Add a user manual to the website"
### Adding a user manual will help the users understand the flow of the website and working of the website

I would like to work on this issue can you please assign me @swapnilsparsh @sakshikhachane

[2021-04-02 06:28] swapnilsparsh commented on #226
@niksm7 Work on it.
More than one person can keep the same password so it's not necessary to make the password unique.
Make the username and email unique and if someone authenticate through google alos then keep in mind that email should be unique.

[2021-04-02 06:39] swapnilsparsh commented on #159
What issue are you facing, can you tell ?

[2021-04-02 06:40] swapnilsparsh commented on #168
Sure 👍🏼

[2021-04-02 06:54] anushka1309paul opened #229 "Addition of a webpage to help women Share their Stories"
The website could be made more accessible and would seem more thoughtful and sensitive if a feature was added that would help women share their abuse stories and help other women reach out to them for support or share their stories as well. This would ensure that more number of women speak out against their abusers and be served justice. The page would contain articles for the same and a way for o

[2021-04-02 07:00] anushka1309paul opened #230 "Safety Manual Page"
As a precautionary measure, the home page can have regular pop ups of random safety tips for women to be followed on road, public places, homes etc. and a separate page for safety tips as well as a self-defense manual for emergencies could make this website more useful and handy. I would like to work on this issue if it is approved.

[2021-04-03 09:50] 2001asjad opened #232 "Add google Captcha"
In the login page along with the username and password, we can add google captcha to it. This will make the login page more enhanced and realistic.
Can you please assign this issue to me. I am a GSSOC'21 participant.
Thank You

[2021-04-03 16:36] Aditya201551 opened #233 "[GSSOC' 21] [BUG] Two overlapping `go to top` buttons in `ngo_details`"
**Describe the bug**
----
- There are two overlapped go-to-top button in ngo_detail page

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to 'ngo detail page'
  2. Click on '....'
  3. Scroll down to 'bottom'
  4. See error that two overlapped go-to-top page appears

**Expected behavior**
-----
- A single go-to-top button

**Possible solution**
----
- Remove the code for that butt

[2021-04-03 19:13] swapnilsparsh commented on #227
Can you explain what type of user manual or any website which is having a user manual ?

[2021-04-03 19:52] #189 closed

[2021-04-03 20:19] #117 closed

[2021-04-03 20:21] swapnilsparsh commented on #229
Great idea but currently there is no need of this feature.

[2021-04-03 20:40] swapnilsparsh commented on #230
Work on safety manual page only.

[2021-04-03 21:00] mansijain980 commented on #160
Please may i know !!
Thanks.

[2021-04-03 21:01] mansijain980 commented on #157
Ma'am please let me know i want to work on it .

[2021-04-04 12:20] Ankita297 commented on #103
@sakshikhachane  @swapnilsparsh  can i work on this ?

[2021-04-04 17:27] swapnilsparsh commented on #232
Ok

[2021-04-04 17:44] #222 closed

[2021-04-04 17:56] swapnilsparsh commented on #160
@mansijain980 Work on it.

[2021-04-04 17:59] #190 closed

[2021-04-04 18:02] swapnilsparsh commented on #103
Sure

[2021-04-05 04:50] Ankita297 commented on #103
@swapnilsparsh  @sakshikhachane  there is no white space probelm see however the gif is going below the navbar so may i correct it

[2021-04-05 04:50] Ankita297 commented on #103
![127 0 0 1_8000 - Google Chrome 05-04-2021 10_19_01](https://user-images.githubusercontent.com/67833077/113538308-86260a00-95f8-11eb-945f-50aeacf750bf.png)

[2021-04-05 05:19] coding-geek21 commented on #227
![image](https://user-images.githubusercontent.com/53329034/113534568-b9fc3200-95ee-11eb-8b37-660e5922822e.png)
We can have it like this in our home page
or we can even create a separate like this  https://summerofcode.withgoogle.com/how-it-works/
here we can create a detailed explanation https://prod-cdn.preprod.co-vin.in/assets/pdf/user-guide-citizen-registration-ver-1.2.pdf  like this which is

[2021-04-06 07:24] #233 closed

[2021-04-06 07:47] swapnilsparsh commented on #103
OK

[2021-04-06 07:48] swapnilsparsh commented on #227
@coding-geek21
Ok, work on it.

[2021-04-06 08:03] #154 closed

[2021-04-06 08:06] #221 closed

[2021-04-07 14:15] Ankita297 commented on #215
Can i work on this ?
@swapnilsparsh

[2021-04-07 15:20] #217 closed

[2021-04-07 19:10] swapnilsparsh opened #236 "Fix the bug"
While running the command `python manage.py migrate` there is some error, fix it

[2021-04-08 16:57] ayushjha952 commented on #236
@swapnilsparsh I want to work on this issue can you assign it to me?

[2021-04-08 17:54] swapnilsparsh commented on #236
![2](https://user-images.githubusercontent.com/69387608/114073975-81e04200-98c1-11eb-9f83-f4a099b22536.png)
![1](https://user-images.githubusercontent.com/69387608/114073979-83116f00-98c1-11eb-9400-c1dc8a66b63e.png)

[2021-04-08 18:14] swapnilsparsh commented on #215
@VaibhavSharma24 Any updates ?

[2021-04-08 18:20] #103 closed

[2021-04-08 18:23] swapnilsparsh commented on #232
@2001asjad Any updates ?

[2021-04-08 18:23] swapnilsparsh commented on #230
@anushka1309paul Any updates ?

[2021-04-08 18:23] #229 closed

[2021-04-08 18:24] swapnilsparsh commented on #226
@niksm7 Any updates ?

[2021-04-08 18:26] niksm7 commented on #226
Working on it will update you soon.

[2021-04-08 18:26] swapnilsparsh commented on #168
@garvitraj Any updates ?

[2021-04-08 20:28] khanfarhan10 opened #239 "Location Details for SOS Sent to Nearest Police Station"
- Broadcast Message to nearest located/prementioned Police Station

[2021-04-09 01:06] 2001asjad commented on #232
I was a bit preoccupied with my mid sems, gonna make a PR within tomorrow.

[2021-04-09 04:25] anushka1309paul commented on #230
Sir,
I had been unable to complete the same due to my ongoing examinations, but
I will finish the same at the earliest.
Thanks and Regards,
Anushka Paul

On Thu, Apr 8, 2021 at 11:53 PM Swapnil Srivastava ***@***.***>
wrote:

[2021-04-09 06:05] SnehaVeerakumar commented on #194
I would like to contribute to this issue.
If assigned, it will take around 5 to 10 days for me to complete.

[2021-04-09 08:18] coding-geek21 commented on #194
I would like to work no this issue
can you please assign me

[2021-04-09 11:10] iaryangoyal commented on #239
can i do this?

[2021-04-09 14:53] garvitraj commented on #168
@swapnilsparsh sorry for the late update
here by attaching tow variation pls give ur valuable feedback
![Uploading Group 12.png…]()
![Uploading Group 11.png…]()

[2021-04-09 15:34] khanfarhan10 commented on #194
@SnehaVeerakumar You can work on this issue. @sakshikhachane please ensure that she is assigned.

[2021-04-09 15:35] CMELAKKIA commented on #194
Thank you. I am starting to work on this issue.

[2021-04-09 15:39] SnehaVeerakumar commented on #194
Thank you, I am starting to work on this issue ! I will keep updated about my process.

[2021-04-10 03:50] sakshikhachane commented on #239
Sure! Go ahead @iaryangoyal.

[2021-04-10 04:04] sakshikhachane commented on #220
@mansijain980 Any updates?

[2021-04-10 04:06] sakshikhachane commented on #159
@nandini040 Any updates?

[2021-04-10 04:07] sakshikhachane commented on #6
@Nishayadav-bit Any updates?

[2021-04-10 04:51] Nishayadav-bit commented on #6
@sakshikhachane I'm doing . please give me sometime.

[2021-04-10 05:11] iaryangoyal commented on #239
Can U help me with some explanation what exactly I've to do

[2021-04-10 08:09] VaibhavSharma24 commented on #215
@swapnilsparsh sorry for not updating you i was busy in my college  yeah the faq page is ready just some minor modifications are left i will keep updating you  !

[2021-04-10 08:39] khanfarhan10 commented on #239
Like each user should provide the information (phone/email/landline) for the Police Station that is nearest to them.
If GPS is provided obtain the nearest Police Station using some API such as Google Maps.
After the data is obtained perform suitable actions.

[2021-04-10 15:36] swapnilsparsh commented on #168
Not able to see the attachments.

[2021-04-10 15:40] swapnilsparsh commented on #6
Can you state how much time you want ?

[2021-04-10 15:45] coding-geek21 opened #242 "Deletion of user account"
If a user wants to delete  their account we can add delete account feature

I would like to work on this issue

[2021-04-10 15:46] garvitraj commented on #168
![Rescue logo](https://user-images.githubusercontent.com/62978449/114275908-ed511d80-9a41-11eb-8b6a-ea0574e9bf02.png)
![Group 12](https://user-images.githubusercontent.com/62978449/114275914-f17d3b00-9a41-11eb-9668-98952a66b34d.png)
![Group 11](https://user-images.githubusercontent.com/62978449/114275922-f8a44900-9a41-11eb-80b7-3324c5bbcf1b.png)

sorry for the inconvenience here attaching again

[2021-04-10 16:25] coding-geek21 commented on #124
I would like to work on this issue @sakshikhachane @swapnilsparsh Can you please assign me?

[2021-04-10 16:28] mansijain980 commented on #124
@sakshikhachane @swapnilsparsh @coding-geek21 i m doing work on this issue and will commit a PR tomorrow.
Thanks.

[2021-04-10 16:36] mansijain980 commented on #220
@sakshikhachane Yes ma'am , work is on progress due to xams it is delayed bt now i m continuing it .
Will commit a PR soon.
Thanks

[2021-04-10 17:10] swapnilsparsh commented on #242
Ok

[2021-04-10 17:17] swapnilsparsh commented on #168
@garvitraj Designs which you have shared are pretty good but they are not good enough.
If posssible share some more designs and use some illustrations or vector art if possible and keep the colour combination according to the UX.

[2021-04-10 17:20] swapnilsparsh commented on #124
It's almost 1 month you are working on this issue and there is no need of this issue to be resolved right now so I am closing it for now..
Sorry for the inconvenience caused

[2021-04-10 17:20] #124 closed

[2021-04-11 07:53] coding-geek21 opened #243 "Make the contacts table responsive"
![image](https://user-images.githubusercontent.com/53329034/114296919-6b0d3b80-9acb-11eb-99da-1976b62f5aab.png)

I would like to fix this bug

[2021-04-11 10:24] coding-geek21 opened #245 "Update readme.md"
-  update about the details to be added  in settings.py (update the email and password)
- createsuperuser must be added
- add pywhatkit to requirements.txt

[2021-04-11 17:14] #131 closed

[2021-04-11 17:25] #243 closed

[2021-04-11 17:29] swapnilsparsh commented on #157
@mansijain980 Do you want to work on this ?

[2021-04-11 17:31] swapnilsparsh commented on #160
@mansijain980 Any updates ?

[2021-04-11 17:41] swapnilsparsh commented on #197
@somya51p Any updates ?

[2021-04-11 17:44] swapnilsparsh commented on #198
@somya51p Any updates ?

[2021-04-11 17:45] swapnilsparsh commented on #227
@coding-geek21 Any updates ?

[2021-04-11 17:48] coding-geek21 commented on #227
Yes half completed I will make PR tomorrow

[2021-04-11 19:53] mansijain980 commented on #160
@swapnilsparsh sir actually i m working on three issues of this project as i have a keen interest in doing so . DAy after tomo i will complete this and commit a PR. Only some modifications left .
Thanks .

[2021-04-11 19:55] mansijain980 commented on #157
@swapnilsparsh I would like to do do work on this . Please assign this to me .
Thanks .

[2021-04-12 05:08] iaryangoyal commented on #239
#246

[2021-04-12 06:45] coding-geek21 commented on #198
Can I work on this issue ? I'm familiar with back-end

[2021-04-12 06:47] coding-geek21 commented on #197
can I work on this issue @swapnilsparsh ?

[2021-04-12 07:27] tanishq-arya opened #248 "Fix register page for mobile view"
**Describe the bug**
----
- Font size and spacing have been modified and exceed screen width.

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to '...'
  2. Click on '....'
  3. Scroll down to '....'
  4. See error

**Expected behavior**
-----
- A clear and concise description of what you expected to happen.

**Possible solution**
----
- Describe the solution you thought of.

**Sc

[2021-04-12 07:27] tanishq-arya commented on #248
Please assign me this issue under gssoc

[2021-04-12 12:21] swapnilsparsh commented on #248
<h1>It's working fine</h1>

![Annotation 2021-04-12 174906](https://user-images.githubusercontent.com/69387608/114393219-67ef7980-9bb7-11eb-8d32-0aec068011b6.png)

[2021-04-12 12:21] #248 closed

[2021-04-12 12:21] sakshikhachane commented on #215
@VaibhavSharma24 May I know how much time do you require?

[2021-04-12 12:26] #245 closed

[2021-04-12 12:39] swapnilsparsh commented on #198
@somya51p is still working on it so you have to wait @coding-geek21

[2021-04-12 13:03] somya51p commented on #197
@swapnilsparsh I have sent the PR, soon I will resolve the conflicts. I have already given much time from my end to at least get it merged.

[2021-04-12 17:08] coding-geek21 commented on #198
sure @swapnilsparsh I will wait

[2021-04-12 18:20] mansijain980 commented on #160
Can i change the fonts ?

[2021-04-12 20:32] VaibhavSharma24 commented on #215
@sakshikhachane sorry for taking soo much time i actually got stucked in between i will be finished within 2 days sry for the delay

[2021-04-13 06:59] coding-geek21 commented on #159
@swapnilsparsh I would like to work on this issue, Can you please assign me ,Thank you!

[2021-04-13 10:26] coding-geek21 opened #254 "Add the motto of the website with typing text effect in home page"
@swapnilsparsh  I would like to work on this issue

[2021-04-13 13:42] coding-geek21 opened #255 "Add custom scrollbar"
@swapnilsparsh I would like to work on this issue

[2021-04-13 14:40] naman153 opened #257 "Added Women Safety Numbers Statewise"
**Is your feature request related to a problem? Please describe.**
---Yes
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
---Basically in the Helpline Number Section there are only national numbers for women safety (not State wise)
**Describe the solution you'd like**
----Basically in the Helpline Number Section I had added the Number For Women Safety

[2021-04-13 15:07] naman153 commented on #257
Please assign this to me under gssoc.

[2021-04-13 16:40] jatiinyadav commented on #254
Hey @coding-geek21, Can you provide a link or a hint about this effect?

[2021-04-13 16:42] SnehaVeerakumar commented on #194
I will make a PR by Friday 5pm.

[2021-04-13 16:48] coding-geek21 commented on #254
yes here are some of text effect css animations
https://onaircode.com/html-css-text-typing-effect-examples/#:~:text=Typing%20Text%20Effect%20With%20CSS%20and%20HTML%20Only,they%20leave%20an%20enduring%20impact%20on%20the%20guest.

[2021-04-13 18:39] jatiinyadav commented on #255
Sorry to inform but we don't want a custom scroll bar.

[2021-04-14 06:21] coding-geek21 commented on #254
May i know the reason??

[2021-04-14 06:24] coding-geek21 commented on #254
Or we can add just the motto alone without using any effects?? in home page, since there is less content at home page

[2021-04-14 17:00] #226 closed

[2021-04-14 17:08] swapnilsparsh commented on #197
When I asked , you didn't reply so I thought you are not doing work on this issue so I assigned it to someone else who was willing to work on this issue.
Sorry for the inconvenience caused, look after some other issues that are there.

[2021-04-14 17:08] swapnilsparsh commented on #160
Font name ?

[2021-04-14 17:16] swapnilsparsh commented on #257
@naman153 Work on it.

[2021-04-14 17:18] swapnilsparsh commented on #255
No need of custom scrollbar right now.

[2021-04-14 17:18] #255 closed

[2021-04-14 17:18] swapnilsparsh commented on #254
I will be opeing a new issue for home page as many things has to be change on home page.

[2021-04-14 17:18] #254 closed

[2021-04-14 19:54] mansijain980 commented on #160
![image](https://user-images.githubusercontent.com/63226239/114770695-565dcb80-9d89-11eb-8ac5-02e2dabc9258.png)
this one.

[2021-04-15 05:19] naman153 commented on #257
Have a look on this and let me know if any changes should me made.

[2021-04-15 08:44] tanishq-arya commented on #186
Please assign this to me under gssoc

[2021-04-15 13:52] sakshikhachane commented on #186
Go ahead @tanishq-arya.

[2021-04-15 17:57] swapnilsparsh commented on #160
You can try using Product Sans rather than this.

[2021-04-15 18:16] #227 closed

[2021-04-16 06:12] jainayush362 opened #261 "ContactUs page does not exists"
Adding ContactUs page which will include a form using which the user can write to us.

@sakshikhachane @swapnilsparsh If you find it useful then please assign this to me and label it under GSSoC21.

[2021-04-16 13:13] mansijain980 commented on #157
Can i add an  image in middle of page ?

[2021-04-16 17:38] sakshikhachane commented on #261
Hey @jainayush362,
This feature is under development in #198. So I am closing this issue.

[2021-04-16 17:38] #261 closed

[2021-04-16 19:28] swapnilsparsh commented on #157
You can try adding the image sideways if it doesn't work then try it in middle.

[2021-04-17 07:20] mansijain980 commented on #157
I am thinking of putting rescue logo in page as it can be weird if i put a different image.
Please tell me as with image it will look attractive.

[2021-04-19 04:59] Naman-12911 opened #264 "Responsive navbar and improve it"
**Describe the bug**
when I open the website in the phone size the navbar is very small.
<img width="960" alt="2021-04-19" src="https://user-images.githubusercontent.com/66183578/115183697-ef7a4280-a0f9-11eb-9d2f-21eb91aff25e.png">
you can the navbar in the image it was very small.

I can improve it using css.

[2021-04-19 18:08] swapnilsparsh commented on #157
Use images related to creating contacts or you can look after different illustrations that are there.

[2021-04-19 19:05] swapnilsparsh commented on #264
@Naman-12911
I will be opening a separate issue for the navbar and footer as they are very small, once the changes to home.html complete.

[2021-04-19 19:05] #264 closed

[2021-04-20 13:11] Aditya201551 opened #265 "[Addition] [Gssoc' 21] Adding a Github link on footer"
- Adding GitHub link on the footer for any interested developers to contribute to this project
- The link will be named `contribute here` so any interested developers and reach out to the project admin

@swapnilsparsh i would like to work on this issue please assign me this issue

[2021-04-20 13:49] Aditya201551 opened #266 "[GSSOC' 21] [FEATURE] Adding Facebook login to the app"
**Is your feature request related to a problem? Please describe.**
----
NA

**Describe the solution you'd like**
----
- Adding Facebook login to the app so users get a variety to login to the app

**Describe alternatives you've considered**
----
NA

**Additional context**
----
@swapnilsparsh I would like to work on this feature please assign me this issue

[2021-04-21 16:41] coding-geek21 opened #269 "Add title to every page"
**Is your feature request related to a problem? Please describe.**
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
----
- A clear and concise description of any alternative solutions or features you

[2021-04-24 10:25] AB-san opened #270 "Add github actions to auto-reply after successful pr merge"
Add github actions to greet the contributors after their pr is merged successfully
For example -  thanks for contributing @username
or any other lines as per the mentor's wish.

[2021-04-24 11:18] AB-san opened #271 "Add github action to add auto-reply whenever a new pr is opened"
Add github action to add auto-message to the contributors when they open a pr
message like -  "We got your pr, please wait for our team to review it :) "
or anything as per the mentor's wish

[2021-04-24 11:18] AB-san commented on #270
I would like to work onthis issue

[2021-04-24 11:19] AB-san commented on #271
I would like to work on this issue

[2021-04-24 18:57] khanfarhan10 commented on #265
Sure go ahead, A good idea indeed.

[2021-04-25 04:21] Ankita297 opened #273 "Add a welcome bot"
**Is your feature request related to a problem? Please describe.**
----
A github action to greet contributor on opening his/her first PR or first issue  .

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
----
- A clear and concise description of any alternative solutions or features you've consider

[2021-04-25 11:06] sakshikhachane commented on #269
@coding-geek21 Go ahead!

[2021-04-25 11:07] sakshikhachane commented on #273
@Ankita297 Go ahead!

[2021-04-25 11:09] sakshikhachane commented on #271
As of now, we don't need the feature. That's why I am closing this issue.

[2021-04-25 11:09] #271 closed

[2021-04-25 11:09] sakshikhachane commented on #270
@AB-san Go ahead with the issue.

[2021-04-25 12:26] AB-san commented on #270
Hello @sakshikhachane I would like to know if this line  - "Thank you @username for your contribution. Looking forward for more such contribution"

[2021-04-25 15:23] RuchiGitHu opened #275 "Found some html content in 404 error page"
**Describe the bug**
----
In the starting and end of the page, some extra content of html file is showing.

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to 'template'
  2. Click on '404'
  4. See error

**Expected behavior**
-----
There should not be HTML code written when we run the page.

**Possible solution**
----
I can remove those content. Please assign this issue to me @s

[2021-04-25 18:19] mansijain980 commented on #198
@sakshikhachane @swapnilsparsh I would like to work on this issue . Please assign this to me.
Thanks.

[2021-04-26 04:14] subhangi2731 commented on #6
can you please assign me this issue? it seems assignee is inactive

[2021-04-26 04:16] subhangi2731 commented on #194
can you assign me this issue?

[2021-04-26 04:17] subhangi2731 commented on #168
can you assign me this issue?

[2021-04-26 05:01] SnehaVeerakumar commented on #194
Already my PR is under review for so long time 😅

[2021-04-26 05:27] coding-geek21 commented on #198
@mansijain980  I have already asked and waiting for this issue to be assigned as someone is working on this

[2021-04-26 15:42] RuchiGitHu commented on #275
Please assign this issue to me @sakshikhachane

[2021-04-26 16:30] tanishq-arya commented on #186
I'm sorry for the delay. I was not well. Will raise PR by end of the week.

[2021-04-27 06:38] sakshikhachane commented on #275
@RuchiGitHu There is no such error on my end. So, I am closing this issue.

[2021-04-27 06:38] #275 closed

[2021-04-27 06:41] sakshikhachane commented on #6
Yes @subhangi2731. Go ahead with this issue.

[2021-04-27 06:43] sakshikhachane commented on #168
@garvitraj Any updates?

[2021-04-27 06:46] sakshikhachane opened #280 "Link 404 error page to the website"
**Is your feature request related to a problem? Please describe.**
----
The page for 404 error that is page not found is already made. Link this page to the website so that whenever the wrong URL will be entered, the 404 error page should be displayed.

[2021-04-27 10:17] coding-geek21 commented on #280
I would like to work on this issue please assign me @sakshikhachane

[2021-04-27 10:17] srishtij2000 commented on #157
Can I work on this issue?

[2021-04-27 10:22] coding-geek21 opened #281 "Create a bootstrap alert messages for success and error messages"
Messages displayed after login and register and creation of contacts and deletion of contacts can be made using bootstrap alert messages, it gives different colors for different messages like success and error , however this can't be included in home page as we are using pop up message , but this can be included in other pages except home page

[2021-04-27 11:15] sakshikhachane commented on #281
@coding-geek21 Go ahead with the issue.

[2021-04-27 11:16] sakshikhachane commented on #280
Go ahead with this issue! @coding-geek21

[2021-04-27 11:18] sakshikhachane commented on #157
Hey @srishtij2000,
Currently, @mansijain980 is working on this. You can look for other issues or create your own issue. Your ideas to enhance this project are always welcomed :)

[2021-04-27 12:10] sakshikhachane commented on #266
Hey @Aditya201551,
There is no need for this feature as of now. So, I am closing this issue.

[2021-04-27 12:57] #266 closed

[2021-04-27 15:59] coding-geek21 commented on #168
@sakshikhachane  I was asking for this issue long back Can you please assign me, I would finish it within 2 or 3 days

[2021-04-28 13:11] garvitraj commented on #168
@sakshikhachane i left the work in the middle due to a serious health issue
but now I m fine will give a good piece of logo just give me a day or two time

[2021-04-28 17:36] mansijain980 commented on #220
@sakshikhachane my family tested covid positive , please give me some time .
Please.

[2021-04-29 14:22] #273 closed

[2021-04-29 14:23] #270 closed

[2021-04-29 14:26] #265 closed

[2021-04-29 14:27] #257 closed

[2021-04-30 10:11] sakshikhachane opened #284 "Register functionality is not working"
**Describe the bug**
----
- User is able to register through `Google account` but is unable to register using normal register functionality and is giving an alert as shown in the image.

![image](https://user-images.githubusercontent.com/53635792/116681268-62bd6780-a9ca-11eb-9b17-24a44f62e08d.png)

[2021-04-30 10:38] sakshikhachane commented on #220
Hey @mansijain980,
Sorry to hear this. Take care of yourself and your family. You are already working on another 2 issues and I think it's been so long that you were assigned. So I have to unassign you. Sorry for this but you can focus on the other 2 issues.

[2021-04-30 12:31] mansijain980 commented on #220
@sakshikhachane maam it's almost done due to sudden medical issue , i can't able to work ....if possible please give me time till tuesday morning as from monday i will be back to work properly hopefully.
Please , accept my request .
Thanks.

[2021-04-30 12:33] mansijain980 commented on #284
@sakshikhachane i would like to do work on this issue. Please assign this to me .
Thnks.

[2021-04-30 16:31] coding-geek21 commented on #284
I would like to work on this issue @sakshikhachane

[2021-04-30 16:32] coding-geek21 commented on #220
@sakshikhachane Can I work on this issue?

[2021-04-30 16:48] #242 closed

[2021-05-01 06:15] subhangi2731 commented on #6
thankyou @sakshikhachane

[2021-05-01 17:29] #200 closed

[2021-05-01 18:49] farseenmanekhan1232 commented on #239
Or we can use some kind of SMS API to send the SOS Location Details to the Nearest Police's Stations' Mobile Number or Something .

[2021-05-01 19:03] farseenmanekhan1232 commented on #239
To Obtain Nearest Police Stations' Mobile Number , we can Make use of Google Maps API .

[2021-05-01 19:06] farseenmanekhan1232 commented on #124
what if the helpline number changes according to the location of the person .

[2021-05-01 19:09] farseenmanekhan1232 commented on #124
Even If I am a GSSOC Participant , i would like to work on this issue regardless of Time required or Points .
If we could brainstorm about this issue here or in discord channel , it would be great .

[2021-05-02 14:25] khanfarhan10 commented on #239
@farseenmanekhan1232 Are you interested to work on this?

[2021-05-02 18:18] harshakhmk commented on #6
How many can work on the same issue at a time?

[2021-05-02 18:52] farseenmanekhan1232 commented on #239
I would love to 😊

[2021-05-03 02:54] coding-geek21 commented on #198
@sakshikhachane  @swapnilsparsh Can i work on this issue ? as still it is not resolved

[2021-05-03 02:57] coding-geek21 commented on #194
Can i work on this issue ? if it is not resolved yet @sakshikhachane @swapnilsparsh

[2021-05-03 12:36] sakshikhachane commented on #239
Hey @farseenmanekhan1232,
Go ahead with the issue.

[2021-05-03 12:40] sakshikhachane commented on #220
Hey @mansijain980,
Hope you are doing good. Sorry for this but it's past one month that you were assigned the issue and the rules are such that we can't let anyone work for any issue for more than 1-2 weeks. Still, we had given you nearly 1 month.
So @coding-geek21 go ahead with the issue.

[2021-05-03 12:42] sakshikhachane commented on #6
Ideally one should work on one issue. But this issue can have multiple assignees.
Are you willing to work on this issue @harshakhmk?

[2021-05-03 12:43] sakshikhachane commented on #168
Hey @coding-geek21,
Go ahead with the issue.

[2021-05-03 12:43] sakshikhachane commented on #284
Hey @mansijain980,
Go ahead with this issue.

[2021-05-03 12:46] harshakhmk commented on #6
yes, I am interested in solving this issue

[2021-05-03 14:54] sakshikhachane commented on #6
Go ahead with this issue! @harshakhmk

[2021-05-03 15:50] harshakhmk commented on #6
How do I send SMS to phone numbers? Should I use existing services like Twilio or [PushOver](https://pushover.net/rl)
or should I use the Django-push notifications approach? Any help would be highly appreciated?
Thanks in Advance!!

[2021-05-03 16:48] #269 closed

[2021-05-04 14:57] anirudhsai20 opened #286 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source programs in which this project was listed in.

[2021-05-04 14:58] anirudhsai20 commented on #286
Hi! Please assign this issue to me under GSSOC.

[2021-05-04 18:03] #159 closed

[2021-05-05 12:50] mansijain980 commented on #284
![image](https://user-images.githubusercontent.com/63226239/117143265-45273e00-adce-11eb-9dd6-aa32be71f3c1.png)
this was missing in forms.py
But on running the server , before it was working right but now it is not .
Can u tell me why?

[2021-05-05 18:03] #280 closed

[2021-05-06 17:24] coding-geek21 commented on #168
I'm Attaching some logos here please have a look on it @sakshikhachane @swapnilsparsh
If the design is okay then you can say whether there should be a change in font, text color and background color
so that i can change accordingly

![logo](https://user-images.githubusercontent.com/53329034/117339988-053f8400-aebe-11eb-91e2-f1fbf0837bb4.jpg)

![logo](https://user-images.githubusercontent.com/53329

[2021-05-06 17:56] coding-geek21 commented on #168
I will make some more designs tomorrow

[2021-05-06 19:49] Furquan712 commented on #158
i would like to work on this , will you assign me

[2021-05-06 20:14] Furquan712 commented on #158
@swapnilsparsh  any update?? i want to work

[2021-05-07 05:32] coding-geek21 commented on #168
![logo](https://user-images.githubusercontent.com/53329034/117402270-b9272a80-af23-11eb-9966-eaf8ea7c9036.jpg)

[2021-05-07 10:56] swapnilsparsh commented on #198
@somya51p Are you working on this issue?

[2021-05-07 11:28] somya51p commented on #198
@swapnilsparsh i had already sent the PR. Please have a look.

[2021-05-08 00:43] sakshikhachane commented on #158
Yes @Furquan712,
Go ahead with the issue.

[2021-05-08 00:45] sakshikhachane commented on #284
@mansijain980,
This is only the bug that we want to resolve.

[2021-05-08 17:04] harshakhmk commented on #6
I have added my pull request [here](https://github.com/swapnilsparsh/Rescue/pull/289).
Please review it @subhangi2731

[2021-05-09 06:29] noblenihal commented on #284
@sakshikhachane Can I do this?
I think I have solved the issue

[2021-05-09 11:21] harshakhmk opened #292 "Emergency functionality is not working"
**Describe the bug**
----
- Emergency button is responding with 500 Internal Server Error and it is unable to send emails with bad credentials, I think we should handle the cases for not sending the emails and sending appropriate error messages for bad credentials.

![Emergency Bug Image](https://user-images.githubusercontent.com/56113657/117569999-0226dc80-b0e6-11eb-8cad-8cbaf8584a7f.png)

[2021-05-10 05:41] swapnilsparsh opened #293 "No Images in the website"
All the images that were there on the website are not showing due to some bug.
FIx it ASAP.

[2021-05-10 05:42] swapnilsparsh commented on #194
@SnehaVeerakumar is already working on this issue.

[2021-05-10 05:43] swapnilsparsh commented on #286
No need of enhancing the Readme file.

[2021-05-10 05:43] #286 closed

[2021-05-10 05:46] swapnilsparsh commented on #284
@mansijain980 What is the update on your work?

[2021-05-10 05:46] #198 closed

[2021-05-10 05:50] swapnilsparsh commented on #292
@harshakhmk You have to add your email and password in the mail.py file and set your Gmail account to enable less secure apps then this will resolve.
If you have done this and then also it's showing, then please let me know.

[2021-05-10 05:59] swapnilsparsh commented on #168
@coding-geek21 All the logos which you have made are awesome.
The last logo you have sent is more precise and good as compared to other logos, so just use some decent font, and then the logo will be ready.

[2021-05-10 06:04] swapnilsparsh commented on #293
@coding-geek21 If possible then please make the PR for this issue ASAP.

[2021-05-10 06:19] swapnilsparsh opened #294 "Github Bot Bug"
When the issue is being closed then the bot should not show a message that Thank You for contributing to the project as the PR is not merged.

![ss](https://user-images.githubusercontent.com/69387608/117614207-9d22c380-b185-11eb-82dd-29686a382a87.png)

[2021-05-10 06:28] arpit456jain commented on #293
its because DEBUG = False
 if DEBUG == True its working fine but then the 404 error can not be handled

[2021-05-10 06:49] harshakhmk commented on #292
As I mentioned, we can have a .env file where it would be storing all the email and passwords and other confidential information and we can handle the cases where the required field is empty or invalid, by raising error messages and only send emails when all the credentials are valid, so that load on the sending the mails will be less and that will solve the scalability issues, as Gmail SMTP serve

[2021-05-10 07:39] swapnilsparsh commented on #293
In which file?

[2021-05-10 08:11] arpit456jain commented on #293
Settings.py

https://github.com/swapnilsparsh/Rescue/blob/master/mysite/settings.py

[2021-05-10 10:51] coding-geek21 commented on #293
@swapnilsparsh  I have made the PR and now this bug is fixed

[2021-05-10 10:53] coding-geek21 commented on #168
sure I will make changes to font and update here

[2021-05-10 11:07] coding-geek21 commented on #284
I have asked for this issue previously so please assign me if the assignee is not able to resolve it

[2021-05-10 11:31] arpit456jain commented on #293
That's a really good fix . You handle the debug for both states (True and False) Great

[2021-05-10 11:42] coding-geek21 opened #296 "Sign in button is not working"
**Describe the bug**
----
- A clear and concise description of what the bug is.

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to '...'
  2. Click on '....'
  3. Scroll down to '....'
  4. See error

**Expected behavior**
-----
- A clear and concise description of what you expected to happen.

**Possible solution**
----
- Describe the solution you thought of.

**Screenshots**
--

[2021-05-10 11:46] coding-geek21 commented on #292
Emergency functionality is working fine

[2021-05-10 13:59] mansijain980 commented on #284
U can assign it to others as i m not well.
Thanks.

[2021-05-10 14:05] coding-geek21 commented on #284
Get well soon @mansijain980 , I will pray for you

[2021-05-11 11:28] coding-geek21 commented on #168
![color_logo_with_background](https://user-images.githubusercontent.com/53329034/117808063-0dab0c80-b27a-11eb-8a08-36c6db0a6377.png)

Is this font okay for this logo? @swapnilsparsh

[2021-05-11 11:44] #293 closed

[2021-05-11 11:44] #281 closed

[2021-05-11 11:52] swapnilsparsh commented on #292
Do you want to work on this issue then rephrase the issue?

[2021-05-11 11:53] swapnilsparsh commented on #292
Do you want to work on this issue then please rephrase the issue and then let me know?

[2021-05-11 12:10] coding-geek21 commented on #168
![image](https://user-images.githubusercontent.com/53329034/117812800-e1928a00-b27f-11eb-9a09-674261e601c8.png)

@swapnilsparsh Is this font okay for this logo ? if any changes needed please update me.

[2021-05-12 15:56] coding-geek21 commented on #157
@sakshikhachane @swapnilsparsh Can I work on this issue?  I will try to complete within 2 days

[2021-05-12 15:58] coding-geek21 commented on #160
@sakshikhachane @swapnilsparsh Can I work on this issue? I will try to complete within 2 days

[2021-05-12 17:06] mansijain980 commented on #160
@coding-geek21 This is already done only i have to resolve the conflicts which will take hardly  a hour .
I will resolve this conflict by today @sakshikhachane @swapnilsparsh
Thanks

[2021-05-12 17:07] mansijain980 commented on #157
@coding-geek21  This is already done only i have to resolve the conflicts which will take hardly a hour .
I will resolve this conflict by today @sakshikhachane @swapnilsparsh
Thanks.

[2021-05-12 17:25] swapnilsparsh commented on #168
@coding-geek21 It's fine.

[2021-05-12 17:36] coding-geek21 commented on #168
Ok @swapnilsparsh I will make PR tomorrow thanks for the update

[2021-05-12 17:37] #296 closed

[2021-05-14 07:04] tanishq-arya opened #300 "UI : Improve the Header and Footer"
**Is your feature request related to a problem? Please describe.**
----
I would like to improve the design and style of header and footer.

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The footer is not consistent on all the pages.

**Describe the solution you'd like**
----
I would like to style the header and footer from scratch or use bootstrap f

[2021-05-14 07:05] tanishq-arya commented on #300
Please assign me this issue under gssoc

[2021-05-14 09:37] arpit456jain commented on #284
hey @coding-geek21 are you working on this issue ?
can I give it a try ? @swapnilsparsh

[2021-05-14 10:01] coding-geek21 commented on #284
yes i'm working on it @arpit456jain

[2021-05-14 13:09] harshakhmk commented on #292
Why EMAIL_BACKEND  EMAIL_HOST  EMAIL_PORT  EMAIL_USE_TLS  EMAIL_HOST_USER  EMAIL_HOST_PASSWORD
 DEFAULT_FROM_EMAIL are declared 2 times?

[2021-05-14 17:21] #168 closed

[2021-05-14 17:27] swapnilsparsh commented on #300
@tanishq-arya There is no need to improve the Header and Footer, but if you want you can improve the UI of the whole website or few pages section-wise.

[2021-05-14 17:28] swapnilsparsh commented on #292
Can you please specify the file where it is specified two times?

[2021-05-14 17:28] coding-geek21 opened #303 "Add on scroll animations to webpages"
**Is your feature request related to a problem? Please describe.**
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
----
- A clear and concise description of any alternative solutions or features you

[2021-05-14 18:13] harshakhmk commented on #292
in ```mysite/settings.py```

[2021-05-15 08:19] mansijain980 commented on #160
@sakshikhachane
![image](https://user-images.githubusercontent.com/63226239/118353476-03dc1e80-b584-11eb-833c-dcc8687473e0.png)
![image](https://user-images.githubusercontent.com/63226239/118353504-23734700-b584-11eb-81de-dc9a77c24b43.png)
Can u please tell me why this error occur . For resolving issue og this branch i.e. login branch i pull it bt it is showing this .
Please help me out ....

[2021-05-15 08:21] mansijain980 commented on #160
![image](https://user-images.githubusercontent.com/63226239/118353572-8e248280-b584-11eb-9077-629e051064f7.png)
or active this link please so that i can directly resolved them.
Thanks

[2021-05-15 10:13] Aryamanz29 opened #304 "QA : Add Linter and formatter"
- Integrate a workflow that ensures every contributor should follow the PEP-8 style guide for python code.
- We can use `flake8` for linting and `Black` for formatting source code.
- Also this workflow runs on every PR which ensures the code follows PEP8 standard or not.

[2021-05-15 10:13] Aryamanz29 commented on #304
@swapnilsparsh  I would like to work on this

[2021-05-15 10:40] arpit456jain opened #305 "Sweet Alert before Log Out"
some times we click on logout by mistake so if there is confirmation modal it will be great and it will look cool also.
It will look like this
<img width="361" alt="alert" src="https://user-images.githubusercontent.com/55352601/118357472-ffb9fc00-b597-11eb-9698-a5d677b32d02.png">

[2021-05-15 10:53] arpit456jain opened #306 "Wave effect in footer"
i had added a Wave effect in footer i would like to make a PR for this

https://user-images.githubusercontent.com/55352601/118357881-db5f1f00-b599-11eb-8574-62a761fdd478.mp4

[2021-05-15 12:38] subhangi2731 commented on #6
@swapnilsparsh I will send a pr today can u please add the level tag

[2021-05-15 14:49] coding-geek21 opened #307 "Add title to FAQ page and link it to home page"
Link the FAQ page here in home page

![image](https://user-images.githubusercontent.com/53329034/118365530-c8107b80-b5ba-11eb-9b88-05afb93cb4a1.png)

[2021-05-16 06:40] coding-geek21 opened #309 "Fix the footer in helpline numbers page"
**Describe the bug**
----
-Footer looks distorted in helpline numbers page
![image](https://user-images.githubusercontent.com/53329034/118388043-b02f0b00-b63f-11eb-8dfe-62c5eb34b987.png)

I would like to work on this please assign me

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to '...'
  2. Click on '....'
  3. Scroll down to '....'
  4. See error

**Expected behavior**
-----

[2021-05-16 09:45] coding-geek21 commented on #232
@swapnilsparsh @sakshikhachane Can I work on this issue?

[2021-05-16 11:16] arpit456jain commented on #305
@swapnilsparsh can i make a PR for this

[2021-05-16 11:17] arpit456jain commented on #306
@swapnilsparsh @sakshikhachane can i make a PR for this

[2021-05-16 11:36] coding-geek21 opened #311 "Enhance the password reset page and reset done page using illustrations"
**Is your feature request related to a problem? Please describe.**
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
----
- A clear and concise description of any alternative solutions or features you

[2021-05-17 15:22] swapnilsparsh commented on #160
@mansijain980 There is some error from your side as you have to rebase the code to the master and then resolve the conflict.

[2021-05-17 15:25] #220 closed

[2021-05-17 15:26] mansijain980 commented on #294
@swapnilsparsh I would like to work on it . Please assign it to me .

[2021-05-17 15:28] swapnilsparsh commented on #305
@arpit456jain No need

[2021-05-17 15:28] #305 closed

[2021-05-17 15:31] swapnilsparsh commented on #306
@arpit456jain No need for a wave effect.

[2021-05-17 15:31] #306 closed

[2021-05-18 07:34] Aryamanz29 commented on #304
@swapnilsparsh  Please review my PR  & relevant ` issue labels` to it

[2021-05-18 13:02] coding-geek21 opened #318 "Add the link to contact us page in home page and add title in contact us page"
I would like to work on this , please assign me

[2021-05-19 11:06] tanishq-arya commented on #318
Can I work on this ?

[2021-05-19 13:27] coding-geek21 opened #321 "Enhance the 404_error page using illustrations"
I would like to work on this issue, please assign me

Our 404 error page is looking simple this can be enhanced using illustrations and on scroll animations to make it look more attractive

[2021-05-19 16:19] coding-geek21 opened #322 "Confirmation alert on deletion of use account"
![image](https://user-images.githubusercontent.com/53329034/118847956-ec869380-b8eb-11eb-8bb9-06419aeef400.png)

while deletion of user account the account gets deleted immediately , so a confirmation alert box can be added as we have in deletion of emergency contacts

[2021-05-19 16:23] coding-geek21 opened #323 "fix the alert box for deletion of emergency contact"
![image](https://user-images.githubusercontent.com/53329034/118848597-86e6d700-b8ec-11eb-9d6b-b16191d8c255.png)

Alert box gets distorted on small screens I would like to work on this, please assign me

[2021-05-20 02:28] coding-geek21 opened #324 "After registering redirect to another page showing confirmation mail sent"
After registering we have an alert saying a confirmation mail is sent to your email

![image](https://user-images.githubusercontent.com/53329034/118909680-ff778300-b940-11eb-86db-46b5db391c1a.png)

it would be better if we have it like this instead of alert we can redirect to another page showing like this

[2021-05-20 17:27] #284 closed

[2021-05-20 17:27] #309 closed

[2021-05-21 11:58] tanishq-arya opened #325 "UI: Modifying the gallery page"
**Is your feature request related to a problem? Please describe.**
----
Adding a better card effect to the cards. Improving the overall appearance and modifying the font and illustration.

![image](https://user-images.githubusercontent.com/77333275/119133845-ff1edb00-ba59-11eb-9b39-e604e6750696.png)

[2021-05-21 11:59] tanishq-arya commented on #325
@swapnilsparsh Please assign me this issue under gssoc.

[2021-05-21 14:09] tanishq-arya opened #326 "Emergency button not visible on hover"
**Describe the bug**
----
The emergency button on hover turns white.

**To Reproduce**
----

![image](https://user-images.githubusercontent.com/77333275/119150497-22eb1c80-ba6c-11eb-84bf-9905386364f1.png)

[2021-05-21 14:09] tanishq-arya commented on #326
Please assign me this issue.

[2021-05-21 17:23] #232 closed

[2021-05-21 17:25] #197 closed

[2021-05-21 17:30] swapnilsparsh commented on #322
No need

[2021-05-21 17:30] #322 closed

[2021-05-21 17:31] swapnilsparsh commented on #324
@coding-geek21 Nice Idea 🤩

[2021-05-21 20:28] mrunal512 commented on #318
can I please work on this issue !

[2021-05-22 05:13] tanishq-arya commented on #323
@swapnilsparsh can I work on this @coding-geek21 is fine with it as you 5 issues assigned at one time.

[2021-05-22 08:14] coding-geek21 commented on #323
@swapnilsparsh  Please don't unassign me 😢 because it's not easy to find issues and i have also worked on it and created a Pull Request @tanishq-arya Everything is based on first come first serve basis only I opened this issue as I really want to work on this issue and I also made PRs for my previously created issues , And i was assigned only to 4 issues yesterday, If i'm not able to resolve this

[2021-05-22 08:16] coding-geek21 opened #329 "Fix the emergency contact page"
Emergency contact page get distorted on small screens

![image](https://user-images.githubusercontent.com/53329034/119219615-0d293600-bb04-11eb-9003-0a4bef14db0d.png)

@swapnilsparsh  I would like to work on this issue , Please assign me.

[2021-05-22 14:39] tanishq-arya commented on #323
No issues. I was just saying if you're busy with other issues maybe I can work on this. All the best.

[2021-05-22 17:43] #307 closed

[2021-05-22 17:49] swapnilsparsh commented on #325
@tanishq-arya Cards are perfect, you can just add a shadow and resize the photos so that they look the same in all sizes and resize the paragraphs in points so they don't look messy.

[2021-05-22 17:50] swapnilsparsh commented on #325
@tanishq-arya Cards are perfect, you can just add a shadow and resize the photos so that they look the same in all sizes and resize the paragraphs in points so they don't look messy.

[2021-05-22 18:15] Saatvik21 opened #332 "Bug in Password Reset Page"
**Describe the bug**
----
The page gets distorted below 594px. I would like to fix this issue

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to '...'
  2. Click on '....'
  3. Scroll down to '....'
  4. See error

**Screenshots**
----
![Screenshot_2](https://user-images.githubusercontent.com/61618767/119236923-b8170f80-bb57-11eb-8104-bbd9345712bf.png)

**Additional context**
---

[2021-05-23 08:27] coding-geek21 commented on #311
@swapnilsparsh  I have also fixed the overlapping of the page which is opened in #332  while enhancing the pages

[2021-05-23 10:42] mansijain980 commented on #160
![image](https://user-images.githubusercontent.com/63226239/119257097-6adf8000-bbe1-11eb-8bb8-62e7b528719d.png)
![image](https://user-images.githubusercontent.com/63226239/119257113-7af75f80-bbe1-11eb-9384-572bfb9eb0bc.png)
can u tell me which format u want ?
LIke register page is having first image so i should make it same as register page ?

[2021-05-23 16:07] tanishq-arya opened #335 "Nav button for mobile view"
**Describe the bug**
----
- The nav toggle button is not at correct position for mobile view.

![image](https://user-images.githubusercontent.com/77333275/119268098-0509ed00-bc0f-11eb-9e7e-387fdabd7116.png)

[2021-05-23 16:07] tanishq-arya commented on #335
Please assign me this issue.

[2021-05-24 06:25] tanishq-arya opened #338 "Update README"
**Is your feature request related to a problem? Please describe.**
----
1. Add steps in installation part to cloning and running the project in code blocks.
2. Modify the about us by improving the content.

[2021-05-24 06:25] tanishq-arya commented on #338
Please assign me this issue.

[2021-05-24 09:43] #323 closed

[2021-05-24 10:09] swapnilsparsh commented on #332
@Saatvik21 Thank you for showing your interest in the project but the password page issue is assigned to @coding-geek21.
Look after some other issues.

[2021-05-24 10:09] #332 closed

[2021-05-24 10:23] #321 closed

[2021-05-24 10:34] swapnilsparsh commented on #160
@mansijain980 Sorry for the inconvenience cause, this issue has been resolved.

[2021-05-24 10:34] #160 closed

[2021-05-24 10:35] #326 closed

[2021-05-24 11:08] #304 closed

[2021-05-24 16:27] tanishq-arya opened #340 "UI: Adding illustrations on Rights, Laws and NGO page."
**Is your feature request related to a problem? Please describe.**
Enhance the pages with illustrations, modify the font family to match other pages.

[2021-05-24 16:27] tanishq-arya commented on #340
Please assign me this issue.

[2021-05-25 16:53] #335 closed

[2021-05-25 17:05] #324 closed

[2021-05-25 17:06] #318 closed

[2021-05-25 17:07] #311 closed

[2021-05-25 17:12] swapnilsparsh commented on #340
@tanishq-arya Can you mention with a proper screenshot where you will be adding illustrations on the page?

[2021-05-25 17:26] tanishq-arya commented on #340
I'll do that.

[2021-05-26 01:20] coding-geek21 commented on #194
@swapnilsparsh  Can I also work on this issue??

[2021-05-26 01:20] coding-geek21 commented on #157
@swapnilsparsh Can i work on this?

[2021-05-26 17:23] #338 closed

[2021-05-26 18:46] swapnilsparsh commented on #157
@mansijain980 already working on the project.

[2021-05-26 18:47] #329 closed

[2021-05-26 19:20] swapnilsparsh opened #345 "Error at python manage.py migrate and python runserver"
![ss](https://user-images.githubusercontent.com/69387608/119718691-81a60100-be85-11eb-9ed7-6bf1a53bcbae.png)

[2021-05-27 06:41] tanishq-arya commented on #345
Problem in views and URL

 send_mail(  # noqa            message_name,  # subject            message,  # message            message_email,  # from email            ["rescue@gmail.com"],  # To Email        )

[2021-05-27 06:42] tanishq-arya commented on #345
I have made the changes should I make a PR ? @swapnilsparsh

[2021-05-27 17:39] #345 closed

[2021-05-28 15:26] #303 closed

[2021-05-28 15:51] coding-geek21 opened #348 "Fix alert message in emergency page"
**Describe the bug**
----
- There should be a alert saying emergency mail and message is sent to contacts , but it's not working
-
- I would like to work on this issue , please assign me @swapnilsparsh .

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to '...'
  2. Click on '....'
  3. Scroll down to '....'
  4. See error

**Expected behavior**
-----
- A clear and concise descrip

[2021-05-28 15:53] coding-geek21 opened #349 "Add a remember me option in login page"
**Is your feature request related to a problem? Please describe.**
----
-Sometimes it becomes hectic to type username and password often to login so we can have remember me option which saves the login information for particular period , this enables user to login easily

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternative

[2021-05-28 15:58] coding-geek21 opened #350 "Fix the css in django admin page"
**Describe the bug**
----
- Our django admin page looks improper without css ,

I would like to work on this, please assign me @swapnilsparsh

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to '...'
  2. Click on '....'
  3. Scroll down to '....'
  4. See error

**Expected behavior**
-----
- A clear and concise description of what you expected to happen.

**Possible solution**
--

[2021-05-28 18:58] mansijain980 opened #352 "footer fonts and hover"
**contact us** and **contribute here**  should have same fonts size  as  **developers**  is having and when we hover to contact us and contribute here they both should expand a little like "developers" do.
-
![image](https://user-images.githubusercontent.com/63226239/120029550-e42d0780-c013-11eb-9ecb-4b2d2dc4e718.png)

[2021-05-29 06:22] tanishq-arya commented on #340
@swapnilsparsh  I would like to update all these illustrations matching the theme and font.
![Screenshot (1799)](https://user-images.githubusercontent.com/77333275/120060241-46b5f000-c074-11eb-94f5-4b84ca26b05c.png)
![Screenshot (1798)_LI](https://user-images.githubusercontent.com/77333275/120060239-44ec2c80-c074-11eb-83d8-ae94522020eb.jpg)

[2021-05-29 06:23] tanishq-arya commented on #340
Also style the button on these 3 pages.

[2021-05-29 12:04] tanishq-arya commented on #340
@swapnilsparsh should I start working on this ?

[2021-05-29 12:07] tanishq-arya opened #353 "CSS: Make a single CSS file for [NGO, Rights, Laws ] pages"
These pages are similar, so there is no point in loading all the CSS in the html files again, also this might improve loading time.

[2021-05-29 12:07] tanishq-arya commented on #353
@swapnilsparsh please assign me this issue.

[2021-05-29 16:24] coding-geek21 opened #354 "Add Change email address option"
If a user wants to change the email address they can change using this option

I would like to work on this , please assign me @swapnilsparsh

[2021-05-29 16:25] coding-geek21 opened #355 "Enhance update emergency contact page"
**Is your feature request related to a problem? Please describe.**
----
- Enhance update emergency contact page

**Describe the solution you'd like**
----
- I would like to work on this , please assign me @swapnilsparsh

**Describe alternatives you've considered**
----
- A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
----
- Add a

[2021-05-29 17:51] swapnilsparsh commented on #352
NO need

[2021-05-29 17:51] #352 closed

[2021-05-29 17:53] swapnilsparsh commented on #340
The heading which is there is good so no need of updating it.

[2021-05-29 17:53] #340 closed

[2021-05-29 17:56] swapnilsparsh commented on #353
No need

[2021-05-29 17:56] #353 closed

[2021-05-29 17:58] swapnilsparsh commented on #354
We don't want to add this option.

[2021-05-29 17:58] #354 closed

[2021-05-29 17:58] swapnilsparsh commented on #355
@coding-geek21 Enhance the CSS and uses the illustration if requires

[2021-05-29 18:00] #348 closed

[2021-05-30 05:26] #300 closed

[2021-05-30 05:34] tanishq-arya opened #357 "Heading in mobile view"
The headings move to left in mobile view.
![image](https://user-images.githubusercontent.com/77333275/120093263-b55b8200-c136-11eb-87ee-94af5019ee32.png)

[2021-05-30 05:34] tanishq-arya commented on #357
@swapnilsparsh please assign me this issue.

[2021-05-30 06:17] tanishq-arya opened #359 "[Bug]: Navbar dropdown for mobile"
![image](https://user-images.githubusercontent.com/77333275/120094217-c7402380-c13c-11eb-8a72-de475cd5a039.png)

@swapnilsparsh please assign me this issue.

[2021-05-30 07:25] #359 closed

[2021-05-30 07:30] #6 closed

[2021-05-30 07:30] #158 closed

[2021-05-30 07:30] #178 closed

[2021-05-30 07:31] #215 closed

[2021-05-30 07:35] #239 closed

[2021-05-30 07:38] swapnilsparsh commented on #357
@tanishq-arya Issues which you have mentioned here, kindly fix it in #186 as you only are working on it.

[2021-05-30 07:38] #357 closed

[2021-05-30 09:45] tanishq-arya opened #362 "Enhance Contact page"
![image](https://user-images.githubusercontent.com/77333275/120099575-ce295f00-c159-11eb-9fcd-691efedb751d.png)
Add an illustration & match the font and colors to the website.

[2021-05-30 09:45] tanishq-arya commented on #362
@swapnilsparsh please assign me this issue.

[2021-05-30 10:32] tanishq-arya commented on #357
Okay I'll do that.

[2021-05-30 13:54] mansijain980 opened #363 "Report of complaints against women in year 2020"
![image](https://user-images.githubusercontent.com/63226239/120106708-cc709300-c17b-11eb-9238-f10271b09c8a.png)
like this , in this i will add only column of nature nd total .In nature , i  will add more Nature .

[2021-05-31 08:43] #325 closed

[2021-05-31 08:46] swapnilsparsh commented on #363
No need

[2021-05-31 08:46] #363 closed

[2021-06-02 14:54] #362 closed

[2021-06-03 16:24] #186 closed

[2021-06-04 18:41] #157 closed

[2021-06-04 19:17] mansijain980 commented on #350
@swapnilsparsh i would like to work on it if @coding-geek21 is not working.

[2021-06-05 06:15] swapnilsparsh commented on #350
If you want you can work on it but you will not get any points in GSSOC as the program has been over.

[2021-06-06 07:42] khanfarhan10 commented on #153
@swapnilsparsh This repo is of no practical use if this project is not implemented in a real working website. Any updates?

[2021-06-06 08:19] swapnilsparsh commented on #153
It will be deployed soon.

[2021-06-19 20:42] Ayonijakaushik19 commented on #294
Hi @swapnilsparsh  I would like to work on this. Please assign it to me.

[2022-03-01 19:52] harshitbansall opened #367 "Error While Installing Dependencies [requirements.txt]"
**Describe the bug**
----
- Error While Installing Dependencies [requirements.txt]

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Create a virtual Environment
  2. Run command <code>pip install -r requirements.txt</code>

**Expected behavior**
-----
- Error should be returned, about installing <code>Microsoft Visual C++ 14.0 or greater</code>

**Possible solution**
----
- I think v

[2022-03-02 13:59] swapnilsparsh commented on #367
@harshitbansall Go ahead 👍🏻